@use 'styles/utilities';

.header {
    text-align: center;

    a {
        .text {
            @include utilities.shadow-variables;

            .part {
                @include utilities.shadow-base;
            }

            @media (hover: hover) {
                &:hover .part {
                    @include utilities.shadow-hover;
                }
            }

            .name {
                color: var(--accent);
                --border-color: var(--accent);
                --shadow-2: var(--accent-20);
                --shadow-3: var(--accent-20);
            }
        }
    }
}
