.container {
    margin-top: 0;
    margin-bottom: calc(var(--line-height) * 3);
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: calc(var(--line-height) * 3);

    .group {
        display: flex;
        flex-direction: column;
        gap: calc(var(--line-height) * 1.25);

        h2 {
            &.month {
                margin-top: 0px;
                margin-bottom: 0px;
                text-align: center;
            }
        }
    }
}

.title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1ch;
    width: 100%;

    & {
        > div:first-of-type {
            flex: 2;
        }

        > div:nth-of-type(2) {
            flex: 1;
        }
    }
}

.tags {
    display: inline-flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: calc(var(--line-height) * 1);
    margin-bottom: calc(var(--line-height) * 3);
}

.none {
    text-align: center;
    color: var(--primary);
}
