.container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: calc(var(--line-height) * 3);

    .group {
        display: flex;
        flex-direction: column;
        gap: calc(var(--line-height) * 1.25);

        h2 {
            &.month {
                margin-top: 0px;
                margin-bottom: 0px;
                text-align: center;
            }
        }
    }
}

.title {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: var(--line-height);
    margin-bottom: calc(var(--line-height) * 3);

    & {
        > div:first-of-type {
            flex: 2;
        }

        > div:nth-of-type(2) {
            flex: 1;
        }
    }
}
