.last-line {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 2ch;
    color: var(--color);

    @media (min-width: 830px), print {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 70ch;
    }

    .link {
        height: calc(var(--line-height) * 2);

        .qr {
            display: flex;
            align-items: flex-end;
            gap: 2ch;
            height: calc(var(--line-height) * 2);
            color: var(--accent);
        }
    }
}
