.last-line {
    @media (min-width: 830px), print {
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        gap: 2ch;
        width: 70ch;
        color: var(--color);
    }

    @media screen {
        @media (max-height: 1056px) {
            bottom: unset;
            top: 0;
            display: none;

            // transition: opacity 0ms ease-out;

            // &[data-page='1'] {
            //     opacity: 1;
            // }

            // &:not([data-page='1']) {
            //     opacity: 0;
            // }
        }
    }

    .link {
        height: calc(var(--line-height) * 2);

        .qr {
            display: flex;
            align-items: flex-end;
            gap: 2ch;
            height: calc(var(--line-height) * 2);
            color: var(--accent);
        }
    }
}
