.cursor {
    user-select: none;
    pointer-events: none;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    color: var(--accent);

    @media print {
        display: none;
    }

    svg {
        position: absolute;

        &.topleft {
            top: 0;
            left: 0;
        }

        &.topright {
            top: 0;
            right: 0;
        }

        &.bottomleft {
            bottom: 0;
            left: 0;
        }

        &.bottomright {
            bottom: 0;
            right: 0;
        }
    }
}
