@use 'styles/utilities';

.posts-ctr {
    .date {
        display: block;
        text-align: right;
        margin-bottom: var(--line-height);
    }

    .posts {
        display: flex;
        flex-direction: column;

        .post {
            &:not(:last-child) {
                margin-bottom: calc(var(--line-height) * 5);
            }

            .tags {
                margin-top: calc(var(--line-height) * 4);
            }
        }
    }
}

.date-groups {
    display: flex;
    flex-direction: column;
    gap: calc(var(--line-height) * 9);
    margin-bottom: calc(var(--line-height) * 9);
}
