@use 'styles/utilities.module.scss' as utilities;
@use 'styles/dark.theme.module.scss' as theme;

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: fit-content;
    gap: utilities.$line-height;

    @media screen and (max-width: 911px) {
        flex-direction: row;
    }

    @media screen and (max-width: 500px) {
        width: 100%;
    }
}
