@use 'styles/utilities';

.sidebar {
    display: flex;
    // flex-direction: column;
    // align-items: flex-end;
    // width: fit-content;
    gap: var(--line-height);

    * {
        color: var(--color);
    }

    @media (max-width: utilities.$medium-width) {
        flex-direction: row;
        flex-wrap: wrap;
        // justify-content: center;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
    }
}
