.name {
    @media (min-width: 830px), print {
        position: absolute;
        top: 0;
        left: 0;
        width: 70ch;
    }

    @media screen {
        @media (max-height: 1055px) {
            top: calc(var(--line-height) * 18);
            width: 73ch;

            &:not([data-page='1']) {
                display: none;
            }
        }
    }

    .row {
        display: flex;
        gap: 1ch;
    }

    .primary {
        color: var(--color);
    }

    .muted {
        color: var(--muted);
    }

    .light {
        color: var(--light);
    }

    @media screen {
        @media (max-height: 1055px) {
            .row {
                align-items: center;
                height: var(--line-height);
            }
        }
    }
}
