.name {
    @media (min-width: 830px), print {
        position: absolute;
        top: 0;
        left: 0;
        width: 70ch;
    }

    .row {
        display: flex;
        gap: 1ch;
    }

    .primary {
        color: var(--color);
    }

    .muted {
        color: var(--muted);
    }

    .light {
        color: var(--light);
    }
}
