@use 'styles/utilities.module.scss' as utilities;
@use 'styles/dark.theme.module.scss' as theme;

.posts-ctr {
    .date {
        display: block;
        text-align: right;
    }

    .posts {
        display: flex;
        flex-direction: column;

        .post {
            &:not(:last-child) {
                margin-bottom: calc(35vh - (utilities.$line-height * 4));
            }

            .title {
                margin-bottom: calc(15vh);

                @media (min-width: utilities.$medium-width) {
                    &.first {
                        margin-top: 0px;
                    }
                }
            }
        }
    }
}
