@use 'styles/utilities';

.title {
    margin-bottom: calc(var(--line-height) * 2);

    .post-link {
        margin-left: 1ch;
        padding: 1ch;

        @media (hover: hover) {
            &:hover {
                @include utilities.shadow-hover;
            }
        }

        @media (pointer: coarse) {
            height: 48px;
        }
    }
}
