@use 'styles/utilities.module.scss' as utilities;

.search-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .search-ctr {
        display: flex;
        align-items: center;
        width: 100%;
        background-color: var(--link-30);
        border-bottom: solid 2px var(--link-darker);

        &:focus-within {
            outline: none;
            border-bottom: solid 2px var(--link);
        }

        .search {
            font-family: var(--font-code);
            border: none;
            font-size: utilities.$font-size;
            height: calc(utilities.$line-height * 1.5);
            padding: 0px 2ch;
            color: var(--link);
            background-color: transparent;

            &:focus,
            &:active {
                outline: none;
            }

            &::placeholder {
                color: var(--link-darker);
            }
        }

        button {
            background-color: transparent;
            border: none;
            color: var(--link);
            font-size: 24px;
            line-height: 0;
            opacity: 0;

            &:focus,
            &:active {
                outline: none;
            }

            &.active {
                opacity: 1;
            }
        }
    }
}
