.slider {
    position: fixed;
    height: 100dvh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

    .box {
        width: 100%;
        height: 100%;
        position: relative;

        .card {
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            padding: 40px;
            position: absolute;
            top: 50%;
            left: 50%;
            height: 250px;
            width: 200px;
            border-radius: 32px;
            background-color: lightseagreen;
            z-index: 2;
            transition: width var(--animation-duration) ease-in-out,
                height var(--animation-duration) ease-in-out,
                transform var(--animation-duration) ease-in-out,
                border-radius var(--animation-duration) ease-in-out,
                left var(--animation-duration) ease-in-out;
            transform: translate(calc(50% + (240px * var(--step))), -50%)
                scale(1);

            &.full {
                width: 100vw;
                height: 100vh;
                transform: translate(0, -50%);
                left: 0;
                border-radius: 0;
                z-index: 1;
            }
        }
    }

    .controls {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
        z-index: 3;

        button {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            background: white;
            border: none;
            padding: 0;
            margin: 0;
            width: 44px;
            height: 44px;
            border-radius: 10px;
            transition: opacity calc(var(--animation-duration) / 2) ease-in-out;
            border: solid 3px black;

            &[disabled] {
                opacity: 0.5;
            }

            svg {
                width: 32px;
                height: 32px;
                stroke: black;
            }
        }
    }
}
