.work {
    .list {
        .item {
            p {
                a {
                    font-weight: bold;
                    color: inherit;

                    span {
                        font-weight: 400;
                        color: LinkText;
                    }
                }
            }
        }
    }
}
