.work {
    .list {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .item {
            h3 {
                font-size: 1rem;
                font-weight: normal;
            }
        }
    }
}
