.work {
    .list {
        .item {
            // &:not(:last-child) {
            //     margin-bottom: 24px;
            // }

            h3 {
                font-size: 1rem;
                font-weight: normal;
            }
        }
    }
}
