.login-toolbar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2ch;

    .name {
        color: var(--color);
    }

    .logout {
        color: var(--primary);
        background-color: transparent;
        border-radius: 6px;
        border: none;
        cursor: pointer;
    }
}
