.drawings {
    margin-top: calc(var(--line-height) * 2);

    .drawing {
        width: 100%;

        img {
            display: block;
            width: 100%;
            height: auto;
            // border-radius: 10px;
            border: solid 1px var(--primary-variant);
        }
    }

    .name {
        color: var(--primary);
        margin-bottom: calc(var(--line-height) * 2);
    }
}
