.copy-to-clipboard {
    button {
        --label-color: var(--primary);
        --shadow-color: var(--label-color);

        z-index: 1;
        cursor: pointer;
        position: absolute;

        // DEV:
        // right: 7px;
        // top: 3px;

        right: 2ch;
        // NOTE: Assumes the first line won't span the width of the block
        // top: calc(var(--line-height) * 2);
        bottom: calc((var(--line-height) * 0.25));
        height: calc((var(--line-height) * 1.5));
        // top: 0px;

        border: none;
        background-color: var(--primary-30);
        color: var(--label-color);
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 8ch;

        &.copied {
            span {
                animation: scale-in 300ms ease-in-out forwards;
            }
        }

        &.fade {
            span {
                animation: scale-out 300ms ease-in-out forwards,
                    scale-in 300ms ease-in-out 3300ms forwards;
            }
        }

        @keyframes scale-in {
            from {
                scale: 0;
                opacity: 0;
            }

            to {
                scale: 1;
                opacity: 1;
            }
        }

        @keyframes scale-out {
            from {
                scale: 1;
                opacity: 1;
            }

            to {
                scale: 0;
                opacity: 0;
            }
        }
    }
}
