.copy-to-clipboard {
    button {
        --label-color: var(--primary);
        --shadow-color: var(--label-color);

        z-index: 1;
        cursor: pointer;
        position: absolute;
        top: 1ch;
        right: 1ch;
        border: none;
        background-color: var(--primary-20);
        color: var(--label-color);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8ch;
        padding: calc(var(--line-height) * 0.25) 0px;
        z-index: 1;

        &.copied {
            span {
                animation: scale-in 300ms ease-in-out forwards;
            }
        }

        &.fade {
            span {
                animation: scale-out 300ms ease-in-out forwards,
                    scale-in 300ms ease-in-out 3300ms forwards;
            }
        }

        @keyframes scale-in {
            from {
                scale: 0;
                opacity: 0;
            }

            to {
                scale: 1;
                opacity: 1;
            }
        }

        @keyframes scale-out {
            from {
                scale: 1;
                opacity: 1;
            }

            to {
                scale: 0;
                opacity: 0;
            }
        }
    }
}
