.mori {
    padding: 2rem;
    margin: 0 auto;
    max-width: 1024px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    row-gap: 1rem;
    column-gap: 2ch;

    header {
        h1 {
            font-size: 38.5px;
        }
    }

    button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 10ch;

        &::before {
            content: '◊────────◊';
            position: absolute;
            top: -1rem;
            left: 0;
            width: 100%;
        }

        &::after {
            content: '◊────────◊';
            position: absolute;
            bottom: -1rem;
            left: 0;
            width: 100%;
        }

        &:hover {
            color: var(--primary);
        }

        &.selected {
            color: crimson;
        }
    }

    .toolbar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    .data {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        gap: 1ch;
        height: min-content;

        .card {
            display: flex;
            align-items: center;
            justify-content: center;
            aspect-ratio: 1;
            font-size: 11px;

            &.spent {
                background-color: var(--muted);
            }

            &.left {
                background-color: var(--light);
            }
        }
    }
}
