.experience {
    font-size: 10pt;

    .jobs {
        .job {
            .roles {
                .role {
                    display: flex;
                    justify-content: space-between;

                    .title {
                        .company {
                            font-weight: 600;
                        }
                    }

                    .date {
                        font-weight: 300;
                    }
                }
            }

            .list {
                display: flex;
                flex-direction: column;
                gap: 0;
                padding-left: 4ch;
            }
        }
    }
}
