.page {
    --print-margin: calc((11in - (var(--line-height) * 54) - var(--line-height) - var(--half-height)) / 2);

    .sheet {
        display: flex;
        position: relative;
        width: 8.5in;
        padding-inline: var(--print-margin);
        margin: 0 auto;

        .content {
            display: flex;
            flex-direction: column;
            gap: var(--line-height);
            width: 100%;
            height: calc(var(--line-height) * 54);

            .columns {
                position: relative;
                flex: 1;
                display: flex;
                gap: var(--print-margin);

                .numbers {
                    text-align: right;
                    color: var(--fg4);

                    @media (max-width: 815px) {
                        display: none;
                    }
                }

                .left,
                .right {
                    display: flex;
                    flex-direction: column;
                    gap: var(--line-height);
                }

                .left {
                    width: 35ch;

                    // @media screen {
                    //     box-shadow: 0 0 0 2px var(--bg3);
                    // }
                }

                .right {
                    flex: 1;

                    // @media screen {
                    //     box-shadow: 0 0 0 2px var(--bg3);
                    // }
                }

                @media (max-width: 815px) {
                    flex-direction: column;
                }
            }

            // @media screen {
            //     box-shadow: 0 0 0 2px var(--bg3);
            // }

            @media (max-width: 815px) {
                height: 100%;
            }
        }

        @media screen {
            // box-shadow: 0 0 0 2px var(--bg3);

            padding-top: calc(var(--line-height));
            padding-bottom: calc(100dvh - (var(--line-height) * 2));

            @media (max-width: 815px) {
                width: 100%;
                height: 100%;
                padding: 0.125in;
            }
        }

        @media print {
            height: 11in;
            padding-top: var(--print-margin);
        }
    }
}

.download {
    display: flex;
    align-items: center;
    gap: 1ch;

    @media print {
        display: none;
    }
}
