@use 'styles/utilities.module.scss' as utilities;
@use 'styles/dark.theme.module.scss' as theme;

.layout {
    font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
    width: fit-content;
    max-width: 680px;
    padding: 0.5in;
    display: flex;
    flex-direction: column;
    gap: 54px;

    @media screen {
        margin: 0 auto;
        padding-top: 0.75in;
        padding-bottom: 0.75in;

        @media (max-width: 500px) {
            padding-left: 0.25in;
            padding-right: 0.25in;
        }
    }

    @media (min-height: 400px) {
        h1 {
            margin-top: clamp(0px, 30vh, 200px);
            margin-bottom: clamp(0px, 15vh, 100px);
        }
    }

    @media (max-height: 400px) {
        h1 {
            margin-top: clamp(0px, 15vh, 200px);
            margin-bottom: clamp(0px, 7.5vh, 100px);
        }
    }

    .date {
        color: theme.$muted;
    }

    article {
        .date {
            display: inline-block;
            margin-bottom: 0px;
        }

        p {
            &:first-of-type {
                margin-top: utilities.$line-height;
            }
        }
    }
}
