.details {
    user-select: none;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4ch;
    width: 100%;
    height: calc(var(--line-height) * 2);
    background-color: rgb(254, 254, 254, 0.7);
    backdrop-filter: blur(10px);
    z-index: 10;

    @media print {
        display: none;
    }

    .all {
        &.on {
            color: var(--accent);
            transition: color 100ms ease-in-out;
        }
    }
}
