.details {
    display: flex;
    gap: 6ch;
    overflow: auto;
    padding-bottom: var(--line-height);

    .all {
        height: var(--line-height);
        min-width: max-content;

        &.on {
            color: var(--accent);
            transition: color 100ms ease-in-out;
        }
    }
}
