.details-wrapper {
    position: relative;
    padding: calc(var(--line-height) * 1) 2ch;

    .all {
        cursor: pointer;

        display: flex;
        gap: 4ch;
        padding: 0;
        background: none;
        border: none;
        font-family: inherit;
        font-size: var(--font-size);
        text-align: left;
        color: var(--light);

        &.on {
            color: var(--accent);
            transition: color 250ms ease-in-out;
        }
    }
}
