@use 'styles/utilities';

.console {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;

    @media print {
        display: none;
    }

    @media (pointer: coarse) {
        // NOTE: Why + 6px? Will it always be 10px at larger viewports?
        height: calc(100dvh / 1.5 + 6px);
    }

    .name {
        color: var(--primary);
    }

    .date {
        color: var(--muted);
    }

    .prompts {
        // padding: 1ch 4ch;
        padding: var(--line-height);
        background-color: var(--background-color);
        border-radius: var(--border-radius);
        border: solid 1px var(--primary);

        @media (pointer: coarse) {
            padding: 1ch 4ch;
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        @media (max-width: utilities.$small-width) {
            width: 75%;
            height: 50%;
            overflow: auto;
        }

        .prompt {
            position: relative;
            color: var(--color);
            height: var(--line-height);
            display: flex;
            align-items: center;
            gap: 0.5ch;
            min-width: 300px;

            @media (pointer: coarse) {
                height: 44px;
                min-height: 44px;
            }

            @media (max-width: utilities.$small-width) {
                min-width: unset;
            }

            &.nest {
                --thickness: 1px;

                margin-left: 4ch;

                &:before {
                    content: '';
                    position: absolute;
                    left: -3ch;
                    width: 2ch;
                    height: var(--thickness);
                    background-color: var(--primary);
                    border-radius: 0px 0.5px 0.5px 0.5px;
                }

                &:after {
                    content: '';
                    position: absolute;
                    top: calc(-50% + 1ch);
                    left: -3ch;
                    width: var(--thickness);
                    height: calc(100% - 1ch);
                    background-color: var(--primary);
                    border-radius: 0.5px 0.5px 0px 0.5px;
                }

                &.selected {
                    &:before {
                        width: 0.75ch;
                    }
                }
            }

            .label {
                &.selected {
                    color: var(--primary);
                }
            }
        }
    }
}

.menu {
    .keyboard {
        @media (pointer: coarse) {
            display: none;
        }
    }

    .touch {
        @media (pointer: fine) {
            display: none;
        }
    }
}
