.console {
    width: 100%;
    display: flex;
    flex-direction: column;
    // margin-bottom: var(--page-gap);
    // margin-bottom: calc(var(--line-height) * 4);
    margin-bottom: calc(var(--line-height) * 3);

    @media print {
        display: none;
    }

    .name {
        color: var(--primary);
    }

    .date {
        color: var(--muted);
    }

    .prompts {
        display: flex;
        flex-direction: column;
        gap: calc(var(--line-height) * 0.5);
        margin-top: var(--line-height);
        width: fit-content;

        @media (hover: hover) {
            display: block;
        }

        .prompt {
            position: relative;
            color: var(--color);
            height: var(--line-height);
            display: flex;
            align-items: center;
            gap: 0.5ch;

            .indicator {
                position: absolute;
                left: calc(var(--icon-size) * -1 - 0.5ch);
                display: flex;
                align-items: center;

                svg {
                    fill: transparent;
                    height: var(--icon-size);
                    width: var(--icon-size);
                }

                &.selected {
                    svg {
                        fill: var(--primary);
                        animation: shift 1500ms ease-in-out infinite;
                    }

                    @keyframes shift {
                        0% {
                            transform: translateX(0px);
                        }
                        50% {
                            transform: translateX(-0.5ch);
                        }
                        100% {
                            transform: translateX(0px);
                        }
                    }
                }
            }

            .label {
                &.selected {
                    color: var(--primary);
                }
            }
        }
    }
}
