.project {
    display: flex;
    flex-direction: column;
    gap: calc(var(--line-height) * 1);
    position: relative;

    &.compact {
        gap: var(--line-height);
    }

    a {
        width: fit-content;
    }
}
