@use 'styles/utilities';

$distance: 10px;

.project-ctr {
    display: flex;
    flex-direction: column;
    gap: calc(var(--line-height) * 2);
    position: relative;

    &.compact {
        gap: var(--line-height);
    }

    @media print {
        gap: calc(var(--line-height) * 1);
    }

    .indicator {
        position: absolute;
        left: calc(var(--icon-size) * -1 - 0.5ch);
        display: flex;
        align-items: center;

        svg {
            fill: transparent;
            height: var(--icon-size);
            width: var(--icon-size);
        }

        &.selected {
            svg {
                fill: var(--primary);
                animation: shift 1500ms ease-in-out infinite;
            }

            @keyframes shift {
                0% {
                    transform: translateX(0px);
                }
                50% {
                    transform: translateX(-0.5ch);
                }
                100% {
                    transform: translateX(0px);
                }
            }
        }
    }

    .description-ctr {
        display: flex;
        gap: 6ch;

        @media (max-width: utilities.$small-width) {
            flex-direction: column;
        }

        & > * {
            flex: 1;
        }
    }
}
