.version-modal {
    height: 100dvh;
    width: 100vw;
    background-color: var(--background-color);
    position: fixed;
    top: 0px;
    left: 0px;
    display: grid;
    place-content: center;

    .close {
        cursor: pointer;
        position: absolute;
        font-size: 32px;
        top: 18px;
        right: 18px;
        font-weight: 100;
        color: var(--primary);

        &:hover {
            color: var(--color);
        }
    }

    .content {
        max-width: 35ch;

        h2 {
            margin-top: var(--line-height);
        }
    }
}
