.statusbar {
    --arrow-size: 4px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--line-height);

    * {
        line-height: 1;
    }

    .left,
    .center,
    .right {
        flex: 1;
    }

    .left {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 1ch;
        height: 100%;

        .mode {
            position: relative;
            display: flex;
            align-items: center;
            height: 100%;
            padding-left: 1ch;
            padding-right: 2ch;
            color: var(--bg0);
            clip-path: polygon(
                0 0,
                calc(100% - var(--arrow-size)) 0%,
                100% 50%,
                calc(100% - var(--arrow-size)) 100%,
                0% 100%
            );

            &.normal {
                background-color: var(--fg3);
            }

            &.insert {
                background-color: var(--bright-green);
            }

            span {
                font-weight: 600;
            }
        }

        .file {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1ch;
        }
    }

    .center {
        text-align: center;

        a {
            color: var(--fg0);
        }
    }

    .right {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 1ch;
        height: 100%;

        .plugins {
            display: flex;
            align-items: center;
            gap: 1ch;
            color: var(--neutral-yellow);

            svg {
                width: 12px;
                height: 12px;
            }
        }

        .outerbar {
            display: flex;
            align-items: center;
            gap: 2ch;
            height: 100%;
            background-color: var(--bg2);
            padding-left: 2ch;
            clip-path: polygon(var(--arrow-size) 0%, 100% 0%, 100% 100%, var(--arrow-size) 100%, 0% 50%);

            .download {
                display: flex;
                align-items: center;
                gap: 1ch;
            }

            .position {
                @media (max-width: 815px) {
                    display: none;
                }
            }

            .line {
                @media (max-width: 815px) {
                    display: none;
                }
            }

            .innerbar {
                display: flex;
                align-items: center;
                height: 100%;
                color: var(--bg0);
                background-color: var(--fg3);
                clip-path: polygon(var(--arrow-size) 0%, 100% 0%, 100% 100%, var(--arrow-size) 100%, 0% 50%);
            }

            @media (max-width: 815px) {
                height: var(--line-height);
            }
        }
    }

    @media screen {
        // box-shadow: 0 0 0 2px var(--bg3);

        position: fixed;
        bottom: 9px;
        left: 50%;
        transform: translateX(-50%);
        width: 8.5in;
        background-color: var(--bg1);
        box-shadow: 0px 9px 0px 0px var(--bg0);

        @media (max-width: 815px) {
            bottom: 0;
            width: 100%;
        }
    }
}
