@use '../../styles/utilities.module.scss' as utilities;
@use '../../styles/dark.theme.module.scss' as theme;

.link-ctr {
    width: fit-content;
    height: utilities.$line-height;
    cursor: pointer;

    a {
        &,
        &:hover {
            color: theme.$link;
        }
    }

    .link-text {
        position: relative;
        border-bottom: solid 1px;
        border-bottom-color: transparent;
        animation: fade-in-border-color 450ms ease-in-out forwards;

        &:hover {
            &::before {
                top: 0px;
                left: 0px;
            }
        }

        &::before {
            content: '';
            pointer-events: none;
            position: absolute;
            top: 6px;
            left: 3px;
            width: 100%;
            height: 100%;
            background-color: transparent;
            transition: background-color 450ms ease-in-out,
                top 250ms ease-in-out, left 250ms ease-in-out;
            animation: fade-in-background 450ms ease-in-out forwards;
        }

        @keyframes fade-in-background {
            from {
                background-color: transparent;
            }

            to {
                background-color: theme.$link-20;
            }
        }

        @keyframes fade-in-border-color {
            from {
                border-bottom-color: transparent;
            }

            to {
                border-bottom-color: theme.$link;
            }
        }
    }
}

.emoji {
    font-size: utilities.$line-height;
    margin-right: 1ch;

    &.left {
        margin-right: 0ch;
        margin-left: 1ch;
    }
}
