.page {
    @media print {
        --font-size: 11px;
        --line-height: 16px;

        position: relative;
        display: flex;
        flex-direction: column;
        gap: calc(var(--line-height) * 2);
        width: 8.5in;
        padding: 0.5in;
    }

    // @media screen {
    //     margin: 0 auto;

    //     @media (max-width: 8.5in) {
    //         --font-size: 14px;
    //         --line-height: 28px;

    //         padding: 0.25in;
    //         padding-bottom: 1in;
    //         width: 100%;
    //     }
    // }
}
