.main {
    position: relative;
    flex: 2;
    display: flex;
    width: 100%;
    gap: 16ch;

    @media (min-width: var(--large-width)) {
        .left {
            position: absolute;
            right: calc(100% + 8ch);
        }
    }

    @media (max-width: var(--medium-width)) {
        flex-direction: column;
        gap: calc(var(--line-height) * 4);
    }

    &.col-2 {
        .left,
        .right {
            display: flex;
            flex-direction: column;
        }

        .left {
            justify-content: flex-start;
            gap: calc(var(--line-height) * 2);

            @media screen and (max-width: var(--medium-width)) {
                width: unset;
            }

            @media print {
                display: none;
            }
        }

        .right {
            flex: 2;
            width: 100%;
        }
    }

    &.col-3 {
        .left,
        .right {
            display: flex;
            width: 100%;
        }

        .left {
            flex-direction: column;
            justify-content: flex-start;
            gap: calc(var(--line-height) * 2);

            @media screen and (max-width: var(--medium-width)) {
                width: unset;
            }
        }

        .middle {
            display: flex;
            align-items: center;
            justify-content: center;

            @media screen and (max-width: var(--medium-width)) {
                flex: 2;
            }
        }

        .right {
            justify-content: flex-end;

            @media screen and (max-width: var(--medium-width)) {
                display: none;
            }
        }
    }
}
