@use 'styles/utilities';

.main {
    position: relative;
    flex: 2;
    display: flex;
    width: 100%;
    gap: 16ch;

    @media (min-width: utilities.$large-width) and (pointer: fine) {
        .left {
            position: absolute;
            right: calc(100% + 8ch);
        }
    }

    @media (max-width: utilities.$medium-width), (pointer: coarse) {
        flex-direction: column;
        gap: calc(var(--line-height) * 4);
    }

    @include utilities.gaps();

    @media (pointer: coarse) {
        max-width: var(--max-width);
        margin: 0 auto;
    }

    .left,
    .right {
        display: flex;
        flex-direction: column;
    }

    .left {
        min-width: max-content;

        @media screen and (max-width: utilities.$medium-width) {
            width: unset;
        }

        @media print {
            display: none;
        }
    }

    .right {
        flex: 2;
        width: 100%;
    }
}
