.shop {
    display: flex;
    flex-direction: column;
    gap: 64px;
    width: fit-content;
    padding: 64px;
    margin: 0 auto;

    // background-color: #0000ff10;

    h1,
    h2 {
        font-weight: normal;
    }

    .categories {
        display: flex;
        flex-direction: column;
        gap: 64px;

        .category {
            display: flex;
            flex-direction: column;
            gap: 16px;

            // .name {
            //     color: var(--muted);
            // }

            .items {
                --cartridge: #eeeeee;

                display: flex;
                flex-wrap: wrap;
                gap: 16px;

                .item {
                    position: relative;

                    // 236 x 332
                    width: 2.5in;
                    height: 3.5in;

                    // 224 x 308
                    width: 224px;
                    height: 308px;

                    overflow: hidden;
                    color: var(--cartridge);

                    .text {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 100%;
                        width: 100%;
                        line-height: 1;
                        color: #6c6ced;
                        padding: var(--line-height) 2ch;
                        z-index: 1;
                    }

                    svg {
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
            }
        }
    }

    // TODO:
    @media (min-width: 816px) and (min-height: 1056px), print {
        //
    }

    @media screen {
        @media (min-width: 1056px) and (min-height: 816px) {
            // pointer-events: none;
            // top: calc(var(--line-height) * 2);
            // left: 0;
            // width: 100%;
            // height: 100%;
        }
    }
}
