.work {
    font-size: 10pt;

    .list {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .item {
            a {
                font-weight: 600;
            }
        }
    }
}
