.skills {
    .groups {
        display: flex;
        flex-direction: column;

        .group {
            .name {
                position: relative;
            }

            .items {
                display: flex;
                flex-direction: column;

                .item {
                    display: inline-block;
                    border-radius: 4px;
                    color: var(--color);
                }
            }
        }
    }
}
