.skills {
    .groups {
        display: flex;
        flex-direction: column;
        gap: var(--line-height);

        .group {
            .name {
                color: var(--fg0);
            }

            .items {
                color: var(--fg2);
            }
        }
    }
}
