// https://codepen.io/albpara/pen/JjRarO

@mixin eight-bit-border($width, $color, $bgcolor) {
    box-shadow: $width 0 $bgcolor, -$width 0 $bgcolor, 0 (-$width) $bgcolor,
        0 $width $bgcolor, 2 * $width 0 $color, -2 * $width 0 $color,
        0 (-2 * $width) $color, 0 2 * $width $color, 0 0 0 $width $color;
    margin: 2 * $width auto;
}

@mixin eight-bit-border-rounder($width, $color, $bgcolor) {
    box-shadow: 4 * $width 0 $bgcolor, -4 * $width 0 $bgcolor,
        0 (-4 * $width) $bgcolor, 0 4 * $width $bgcolor,
        $width 0 0 2 * $width $bgcolor, -$width 0 0 2 * $width $bgcolor,
        0 (-$width) 0 2 * $width $bgcolor, 0 $width 0 2 * $width $bgcolor,
        5 * $width 0 $color, -5 * $width 0 $color, 0 (-5 * $width) $color,
        0 5 * $width $color, 0 0 0 3 * $width $color,
        0 2 * $width 0 2 * $width $color, 0 (-2 * $width) 0 2 * $width $color,
        2 * $width 0 0 2 * $width $color, (-2 * $width) 0 0 2 * $width $color;
    margin: 5 * $width auto;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--line-height) * 2);
    min-height: 100svh;
    width: 34ch;
    margin: 0 auto;
    padding: calc(var(--line-height) * 2) 0;

    a {
        width: 100%;

        .avatar {
            --img-size: calc((400px / 2) - 30px);

            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var((--container-color));
            width: calc(100% - 48px);
            height: var(--img-size);

            @include eight-bit-border-rounder(
                4px,
                var(--border-color),
                var(--container-color)
            );

            img {
                width: calc(var(--img-size) + 30px);
                height: calc(var(--img-size) + 30px);
            }
        }
    }

    .text {
        .title {
            color: var(--muted);
        }
    }

    nav {
        width: calc(100% - 24px);

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: calc((var(--line-height) * 1 / 2));
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                width: 100%;

                a {
                    position: relative;
                    width: 100%;
                    display: inline-block;
                    color: var(--primary);
                    text-align: center;
                    padding: calc(var(--line-height) * 1 / 4);
                    background-color: var(--container-color);

                    @include eight-bit-border(
                        4px,
                        var(--border-color),
                        var(--container-color)
                    );

                    .icon {
                        position: absolute;
                        right: 1ch;
                        top: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: calc(var(--line-height) * 1.5);

                        svg {
                            margin-left: 1ch;
                            fill: var(--primary);
                        }
                    }
                }
            }
        }
    }
}
