.links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--line-height) * 2);
    min-height: 100svh;
    width: 34ch;
    margin: 0 auto;
    padding: calc(var(--line-height) * 2) 0;

    a {
        width: 100%;

        .avatar {
            --img-size: calc((400px / 2));

            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var((--container-color));
            width: calc(100% - 48px);
            height: var(--img-size);

            img {
                width: calc(var(--img-size));
                height: calc(var(--img-size));
            }
        }
    }

    .text {
        .title {
            color: var(--gray);
        }
    }

    nav {
        width: calc(100% - 24px);

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: calc((var(--line-height) * 1 / 2));
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                width: 100%;

                a {
                    position: relative;
                    width: 100%;
                    display: inline-block;
                    color: var(--light);
                    text-align: center;
                    padding: calc(var(--line-height) * 1 / 4);
                    background-color: var(--dark);

                    .icon {
                        position: absolute;
                        right: 1ch;
                        top: 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: calc(var(--line-height) * 1.5);

                        svg {
                            margin-left: 1ch;
                            fill: var(--light);
                        }
                    }
                }
            }
        }
    }
}
