* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

body {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100dvh;
    font-family: monospace;
    padding: 1lh 2ch;
}

a {
    color: #0000ff;
    text-decoration: none;
}
