:root {
    --font-size: 11px;
    --font-family: var(--font-departure-mono);
    // --font-family: var(--font-pureprog);

    --amber: #ffa133;
    --pumpkin: #e47b1a;
    --flux: #c8be50;
    --foam: #bccabb;
    --enamel: #eeeeee;
    --cement: #c0c0c0;
    --aluminum: #cccccc;
    --ash: #8e8e8e;
    --mud: #8a8a6f;
    --clay: #6c6c58;
    --smoke: #666666;
    --dark: #444444;
    --soot: #333333;
    --carbon: #222222;
    --black: #141414;
    --accent: var(--amber);
    --fg: var(--dark);
    --bg: var(--enamel);

    font-size: var(--font-size);
    font-family: var(--font-family);
    color: var(--fg);
    background-color: var(--bg);

    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

::selection {
    color: var(--enamel);
    background-color: var(--carbon);
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
}
