:root {
    --background-color: #16191b;
    --color: #e2e6e8;
    --muted: #767676;
}

html {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-mona);
    background-color: var(--background-color);
    color: var(--color);
}

a {
    color: var(--muted);
    text-decoration: none;
}

ul {
    list-style-type: none;
}
