:root {
    --background-color: #ffffff;
    --color: #000000;

    font-size: 13px;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-instrument-sans);
    background-color: var(--background-color);
}

h1,
h2 {
    font-family: var(--font-instrument-serif);
}

a {
    color: LinkText;
    text-decoration: none;
}

ul {
    padding-left: 0.125in;
}
