:root {
    --bg0: #282828;
    --bg1: #3c3836;
    --bg2: #504945;
    --bg3: #665c54;
    --bg4: #7c6f64;

    --fg0: #ebdbb2;
    --fg1: #d5c4a1;
    --fg2: #bdae93;
    --fg3: #a89984;
    --fg4: hsl(35, 17%, 40%);

    --bright-red: #fb4934;
    --bright-purple: #d3869b;
    --bright-orange: #fe8019;
    --bright-aqua: #8ec07c;
    --bright-blue: #83a598;
    --bright-green: #a6b758;

    --neutral-orange: #d65d0e;
    --neutral-yellow: #d79921;

    --faded-orange: #af3a03;
    --faded-yellow: #b57614;

    --gray: #928374;

    --font-size: 12px;
    --line-height: 18px;
    --half-height: calc(var(--line-height) / 2);
    --qtr-height: calc(var(--line-height) / 4);
}

html {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;

    overscroll-behavior: none;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 400;
    font-size: var(--font-size);
    line-height: var(--line-height);
}

body {
    font-family: Hack, monospace;
    background-color: var(--bg0);
    color: var(--fg1);
}

a {
    color: var(--color);
    text-decoration: none;
}

ul {
    list-style-type: none;
}
