:root {
    --background-color: #ffffff;
    --color: #000000;

    font-size: 14px;
    line-height: 20px;
}

html {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-sans);
    background-color: var(--background-color);
}

a {
    color: inherit;
    text-decoration: none;
}

h2 {
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 500;
}

pre {
    font-family: inherit;
}

ul {
    list-style-type: none;
}
