:root {
    --background-color: #000000;
    --color: #ffffff;

    font-size: 11px;
    line-height: 22px;
    letter-spacing: 1px;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-size: 1rem;
    font-weight: normal;
}

body {
    font-family: var(--font-departure-mono);
    background-color: var(--background-color);
    color: var(--color);
}

a {
    // color: #ff0000 // red
    // color: #dc143c; // crimson
    color: #ea0e33;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.no-print {
    @media print {
        display: none;
    }
}
