:root {
    --background-color: #ffffff;
    --color: #000000;
    --muted: #767676;
    --bright: #000000;

    font-size: 14px;
    // line-height: 1.75;
    line-height: 24px;

}

html {
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-sans);
    background-color: var(--background-color);
    color: var(--color);
}

a {
    // color: LinkText;
    color: var(--color);
    // text-decoration: none;
}

ul {
    list-style-type: none;
}
