.page {
    height: 10000px;
    color: var(--color);

    .background {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100dvh;
        background: linear-gradient(var(--bg-from) 50%, var(--bg-to) 100%);

        .floor {
            position: absolute;
            bottom: 0;
            left: 0;
            height: 60%;
            width: 100%;
            perspective: 1000px;

            .grid {
                --line-width: 3px;

                position: absolute;
                top: 0%;
                left: -30%;
                width: 160%;
                height: 150%;
                transform: rotateX(75deg);

                background-position-y: 0%;
                background-size: 125px 75px;
                background-image: linear-gradient(
                        to right,
                        var(--line-color) var(--line-width),
                        transparent var(--line-width)
                    ),
                    linear-gradient(to bottom, var(--line-color) var(--line-width), transparent var(--line-width));

                mask-image: linear-gradient(to top, black, transparent);
            }
        }
    }

    .objects {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100dvh;
        perspective: 1000px;
        display: flex;
        align-items: center;
        justify-content: center;

    }
}
