.page {
    --color: #ffb000;
    --background-color: black;

    display: flex;
    flex-direction: column;
    max-width: 80ch;
    padding: 2rem 4ch;

    @media (max-width: 500px) {
        padding: 1rem 2ch;
    }

    ul {
        list-style: none;

        li {
            display: flex;
            flex-direction: column;
        }
    }

    main {
        display: flex;
        flex-direction: column;
    }

    section {
        display: flex;
        flex-direction: column;
    }
}
