.page {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    gap: calc(8px * 6);
    z-index: 10;

    @media screen and (max-width: 815px) {
        flex-direction: column;
    }

    .left {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .right {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        width: calc(8px * 25);
    }
}
