.planet {
    position: absolute;
    width: var(--planet-size);
    height: var(--planet-size);
    top: 0;
    left: 50%;
    transform: translateX(-50%);

    &.rise {
        --planet-top: 70vh;

        top: var(--planet-top);
        transform: translate(-50%, 30dvh);
        animation: rise var(--load-delay) ease-out var(--load-delay) forwards;
        transition: top 2000ms ease-in-out;

        @keyframes rise {
            0% {
                transform: translate(-50%, 30dvh);
            }

            100% {
                transform: translate(-50%, 0);
            }
        }
    }

    &.grow {
        transform: scale(0);
        animation: scale-in var(--load-delay) ease-in-out
            calc(var(--load-delay) * 2) forwards;

        @keyframes scale-in {
            0% {
                transform: scale(0);
            }

            100% {
                transform: scale(1);
            }
        }
    }

    &.shift {
        top: calc((var(--planet-top) / 2));

        .body {
            transform: translate(-50%, 0) scale(2);
            opacity: 0;
        }
    }

    .body {
        --inset-shadow-radius: calc(var(--planet-size) / 4);
        --offset: calc(var(--planet-size) / 7.5);
        --blur: clamp(10px, calc(var(--planet-size) / 6), 60px);
        --spread: clamp(5px, calc(var(--planet-size) / 12), 20px);

        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 50%;
        width: var(--planet-size);
        height: var(--planet-size);
        background: var(--white);
        border-radius: 50%;
        background-color: var(--background-color);
        box-shadow: var(--offset) calc(var(--offset) * -1)
                var(--inset-shadow-radius) var(--inset-shadow-radius)
                rgba(0, 0, 0, 0.7) inset,
            0 0 var(--blur) var(--spread) var(--shadow-color);
        transform: translate(-50%, -50%);
        transition: filter 250ms ease-in-out, transform 2000ms ease-in-out,
            opacity 1000ms ease-in-out 1000ms;
        opacity: 1;

        &.red {
            --background-color: #b22222;
            --shadow-color: #b2222240;
        }

        &.blue {
            --background-color: #1e90ff;
            --shadow-color: #1e90ff40;
        }

        &.tan {
            --shadow-color: #e9967a40;
            --background-color: #e9967a;
        }

        &.purple {
            --shadow-color: #da70d640;
            --background-color: #da70d6;
        }

        &.green {
            --shadow-color: #20b2aa40;
            --background-color: #20b2aa;
        }

        &:hover {
            filter: brightness(1.2);
        }
    }
}
