.comment {
    white-space: nowrap;
    color: var(--muted);
    margin-bottom: var(--line-height);
    text-transform: uppercase;

    @media screen {
        @media (min-width: 1056px) and (min-height: 816px) {
            width: 73ch;
        }
    }
}
