.comment {
    white-space: nowrap;
    color: var(--muted);
    margin-bottom: var(--line-height);
    text-transform: uppercase;

    @media screen {
        @media (max-height: 1055px) {
            width: 73ch;
        }
    }
}
