.page {
    display: flex;
    flex-direction: column;
    gap: 3lh;
    min-height: 100dvh;
    padding: 4lh 4ch;
}

.heading {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.2em;
    color: light-dark(#000000, #ffffff);
}
