.controls {
    width: 100%;
    display: grid;
    grid-template-columns: max-content auto;
    gap: var(--line-height) 4ch;
    align-items: center;

    .label {
        color: var(--primary);
        text-align: right;
    }
}

.reset-btn-ctr {
    margin-top: calc(var(--line-height) * 3);
    text-align: center;

    .reset {
        cursor: pointer;
        border: none;
        background-color: transparent;
        color: var(--primary);

        // border: solid 1px var(--primary);
        // padding: calc(var(--line-height) / 2) 2ch;
        // background-color: var(--primary-10);
    }
}
