@use 'styles/utilities';

.controller {
    --btn-max-width: 126px;
    --btn-gap: 15px;
    --dpad-radius: 4px;
    --dpad-size: calc(var(--btn-max-width) / 3);
    --btn-size: calc(var(--btn-max-width) / 2);

    user-select: none;
    display: flex;
    justify-content: space-between;
    
    flex: 1;
    
    // height: 175px;
    
    // margin: 0px 0.125in 0.125in 0.125in;
    margin-left: 0.25in;
    margin-right: 0.25in;
    margin-bottom: 0.25in;
    // border: solid 1px var(--primary);
    // border-radius: var(--border-radius);
    // padding: 0px var(--btn-gap);

    @media (pointer: fine), (hover: hover) {
        display: none;
    }

    .dpad,
    .menu,
    .buttons {
        // flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // .dpad,
    // .buttons {
    //     flex: 1;
    // }

    .dpad {
        flex-direction: column;

        .up,
        .down,
        .left,
        .right {
            height: var(--dpad-size);
            width: var(--dpad-size);
            display: flex;
            padding: 2px;

            svg {
                fill: var(--primary);
            }
        }

        .up {
            transform: translateY(1px);
            border-top: solid 1px var(--primary);
            border-left: solid 1px var(--primary);
            border-right: solid 1px var(--primary);
            border-radius: var(--dpad-radius) var(--dpad-radius) 0px 0px;

            justify-content: center;
        }

        .down {
            transform: translateY(-1px);
            border-bottom: solid 1px var(--primary);
            border-left: solid 1px var(--primary);
            border-right: solid 1px var(--primary);
            border-radius: 0px 0px var(--dpad-radius) var(--dpad-radius);

            justify-content: center;
            align-items: flex-end;
        }

        .left {
            transform: translateX(1px);
            border-bottom: solid 1px var(--primary);
            border-top: solid 1px var(--primary);
            border-left: solid 1px var(--primary);
            border-radius: var(--dpad-radius) 0px 0px var(--dpad-radius);

            justify-content: flex-start;
            align-items: center;
        }

        .right {
            transform: translateX(-1px);
            border-bottom: solid 1px var(--primary);
            border-top: solid 1px var(--primary);
            border-right: solid 1px var(--primary);
            border-radius: 0px var(--dpad-radius) var(--dpad-radius) 0px;

            justify-content: flex-end;
            align-items: center;
        }

        .middle {
            display: flex;
            gap: var(--dpad-size);
            background-color: var(--background-color);
        }
    }

    .menu {
        width: max-content;
        flex-direction: column;
        gap: 10px;
        padding-top: 10px;

        .btn-ctr {
            width: 100%;
            background-color: var(--background-color);
            border: none;
            height: 44px;

            .btn {
                height: 10px;
                width: 100%;
                margin-bottom: 5px;
                background-color: var(--background-color);
                border: solid 1px var(--primary);
                border-radius: var(--dpad-radius);
            }

            .label {
                color: var(--primary);
                text-align: center;
                line-height: 1;
                font-size: calc(var(--font-size) - 2px);
            }
        }
    }

    .buttons {
        flex-direction: column;
        width: var(--btn-max-width);

        .top,
        .bottom {
            display: flex;
            width: 100%;
        }

        .top {
            justify-content: flex-end;
        }

        .bottom {
            justify-content: flex-start;
        }

        button {
            display: grid;
            place-content: center;
            height: var(--btn-size);
            width: var(--btn-size);
            background-color: var(--background-color);
            color: var(--primary);
            border: solid 1px var(--primary);
            border-radius: 50%;
        }
    }

    button {
        -webkit-tap-highlight-color: transparent;
    }
}
