.experience {
    .jobs {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .job {
            .roles {
                .role {
                    display: flex;
                    justify-content: space-between;

                    @media screen and (max-width: 815px) {
                        flex-direction: column;
                    }

                    .heading {
                        flex: 1;

                        .title {
                            font-size: 1rem;
                        }

                        .company {
                            //
                        }
                    }

                    .date {
                        font-family: sans-serif;
                    }
                }
            }
        }
    }
}
