.experience {
    width: 100%;

    .jobs {
        display: flex;
        flex-direction: column;
        gap: 2rem;

        .job {
            .role {
                display: flex;
                justify-content: space-between;

                .title {
                    span {
                        color: var(--bright);
                    }
                }

                .date {
                    color: var(--muted);
                }
            }
        }
    }
}
