@use 'styles/utilities.module.scss' as utilities;

.comment {
    color: var(--comment);
    margin-bottom: utilities.$line-height;
}

.date {
    color: var(--date);

    .location {
        color: var(--muted);
    }
}

.experience {
    .job {
        break-inside: avoid;

        &:not(:last-child) {
            margin-bottom: calc((utilities.$line-height * 2));

            @media print {
                margin-bottom: utilities.$line-height;
            }
        }

        .title {
            color: var(--heading);

            .company {
                color: var(--company);
            }
        }

        .lines {
            .line {
                display: flex;
                color: var(--text);
            }
        }
    }
}
