@use 'styles/utilities.module.scss' as utilities;

.experience {
    .job {
        break-inside: avoid;

        &:not(:last-child) {
            margin-bottom: calc((utilities.$line-height * 2));

            @media print {
                margin-bottom: utilities.$line-height;
            }
        }

        .title {
            // color: var(--secondary);
            color: var(--primary);

            .company {
                // color: var(--company);
                color: var(--accent);
            }
        }

        .lines {
            .line {
                display: flex;
                // color: var(--text);
            }
        }
    }

    .date {
        // color: var(--date);
        color: var(--secondary);

        .location {
            // color: var(--muted);
            color: var(--tertiary);
        }
    }
}
