.experience {
    background-color: #ff000010;

    @media (min-width: 830px), print {
        position: absolute;
        top: calc(var(--line-height) * 7);
        left: 0;
        width: 57ch;
    }

    .jobs {
        display: flex;
        flex-direction: column;
        gap: var(--line-height);

        .job {
            break-inside: avoid;

            .company {
                color: var(--primary);
            }

            .role {
                .title {
                    color: var(--color);
                    position: relative;
                }

                .date {
                    color: var(--muted);
                }
            }

            .stack {
                color: var(--light);
            }
        }
    }
}
