.experience {
    .job {
        break-inside: avoid;

        &:not(:last-child) {
            margin-bottom: calc((var(--line-height) * 2));

            @media print {
                margin-bottom: var(--line-height);
            }
        }

        .title {
            color: var(--primary);

            .company {
                color: var(--accent);
            }
        }

        .lines {
            .line {
                display: flex;
            }
        }
    }

    .date {
        color: var(--tertiary);

        .location {
            color: var(--tertiary);
        }
    }
}
