@use 'styles/utilities';

.item {
    list-style-type: none;
    position: relative;
    cursor: pointer;

    @media (hover: hover) {
        &::after {
            content: '';
            width: calc(100% + 4ch);
            height: calc(100% + var(--line-height));
            position: absolute;
            left: -2ch;
            top: calc((var(--line-height) / 2) * -1);
            background-color: var(--primary-20);
            opacity: 0;
            pointer-events: none;
        }

        &:hover::after {
            opacity: 1;
        }
    }

    p {
        position: relative;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        z-index: 0;

        &::before {
            position: absolute;
            right: 0px;
            bottom: 0px;
            content: '';
            width: 100px;
            height: calc(var(--line-height) * 1.5);
            background-image: linear-gradient(
                90deg,
                transparent,
                var(--background-color) 70%
            );
            z-index: 1;
        }

        &::after {
            position: absolute;
            right: 0px;
            bottom: 0px;
            color: var(--primary);
            content: '...';
            width: fit-content;
            height: calc(var(--line-height) * 1.5);
            z-index: 2;
        }
    }
}

.link {
    display: flex;
    flex-direction: column;
    gap: var(--line-height);
    text-decoration: none;
    outline: none;
    color: inherit;
}

.title,
.description {
    word-break: break-word;
    margin: 0;
}

.title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    .title {
        max-width: 50%;
        min-width: fit-content;
        color: var(--primary);

        @media (max-width: utilities.$small-width) {
            min-width: unset;
        }
    }

    .date {
        color: var(--color);
    }
}
