@use 'styles/utilities';

.button {
    user-select: none;
    cursor: pointer;
    width: fit-content;
    padding: 12px 24px;
    color: var(--primary);
    border: solid 1px var(--primary);
    background-color: var(--primary-10);
    margin-bottom: calc(var(--line-height) * 3);
    width: 100%;

    @media (hover: hover) {
        padding: 6px 24px;
    }
}

.backdrop {
    --speed: 450ms;
    --delay: 150ms;
    --filter: blur(4px) brightness(1);

    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: var(--filter);
    animation: blur var(--speed) ease-in-out forwards;

    &.close {
        animation: un-blur var(--speed) ease-in-out var(--delay) forwards;
    }

    @keyframes blur {
        from {
            background-color: rgba(0, 0, 0, 0);
            backdrop-filter: blur(0px) brightness(1);
        }
        to {
            background-color: rgba(0, 0, 0, 0.1);
            backdrop-filter: var(--filter);
        }
    }

    @keyframes un-blur {
        from {
            background-color: rgba(0, 0, 0, 0.1);
            backdrop-filter: var(--filter);
        }
        to {
            background-color: rgba(0, 0, 0, 0);
            backdrop-filter: blur(0px) brightness(1);
        }
    }

    .form {
        --curve: cubic-bezier(0.465, 0.183, 0.153, 0.946);
        --offset: 5vw;
        --height: calc(100dvh - (calc(var(--offset) * 1)));
        --width: calc(100vw - (calc(var(--offset) * 2)));
        --border: none;

        position: absolute;
        height: var(--height);
        width: var(--width);
        top: 100dvh;
        left: var(--offset);
        border: var(--border);
        background-color: var(--background-color);
        border-radius: 6px 6px 0px 0px;
        will-change: scale, opacity;
        animation: open var(--speed) var(--curve) forwards;
        z-index: 100;

        &.close {
            animation: close var(--speed) var(--curve) forwards;
        }

        @keyframes open {
            from {
                top: 100dvh;
            }

            to {
                top: var(--offset);
            }
        }

        @keyframes close {
            from {
                top: var(--offset);
            }

            to {
                top: 100dvh;
            }
        }

        .close {
            cursor: pointer;
            position: absolute;
            font-size: 32px;
            top: 28px;
            right: 28px;
            font-weight: 100;
            color: var(--primary);

            &:hover {
                color: var(--color);
            }
        }

        .content {
            padding: 10vw 10vw 0vw 10vw;
            height: 100%;
            display: flex;
            flex-direction: column;

            @media (max-width: utilities.$small-width) {
                padding: 8vw 8vw 0vw 8vw;
            }

            .title {
                width: 100%;
                display: flex;
                gap: 6ch;
                margin-bottom: calc(var(--line-height) * 2);
                align-items: center;
                position: relative;

                .upload {
                    background-color: var(--muted);
                    border-radius: 50%;
                    border: none;
                    height: 32px;
                    min-width: 32px;
                    display: grid;
                    place-content: center;

                    svg {
                        height: 22px;
                        width: 22px;
                        fill: var(--color);
                    }

                    &:not([disabled]) {
                        cursor: pointer;
                        background-color: var(--primary-30);

                        svg {
                            fill: var(--primary);
                        }
                    }
                }

                .exists {
                    position: absolute;
                    bottom: calc(var(--line-height) * -1.5);
                    left: 0px;
                    color: var(--primary);
                }
            }

            .field {
                width: 100%;

                label {
                    display: block;
                    color: var(--primary);
                }

                input {
                    font-family: var(--font);
                    width: 100%;
                    background-color: var(--background-color);
                    color: var(--color);
                    padding: calc(var(--line-height) / 2) 0px;
                    border: none;
                    border-bottom: solid 1px var(--primary);

                    &:focus {
                        outline: none;
                    }
                }

                textarea {
                    font-family: var(--font);
                    width: 100%;
                    height: 100%;
                    background-color: var(--background-color);
                    color: var(--color);
                    padding: 0px 0px var(--line-height) 0px;
                    border: none;
                    resize: none;

                    &:focus {
                        outline: none;
                    }
                }
            }
        }
    }
}
