.page {
    position: relative;
    height: 100dvh;
    width: 100dvw;
    // display: flex;
    // align-items: center;
    // justify-content: center;
    overflow: hidden;

    .arrow {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 44px;
        height: 44px;
        width: 44px;

        &.up {
            top: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        &.down {
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }

        &.left {
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }

        &.right {
            top: 50%;
            right: 0;
            transform: translateY(-50%);
        }
    }

    .room {
        position: absolute;
        top: 44px;
        left: 44px;
        height: calc(100dvh - 88px);
        width: calc(100dvw - 88px);
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #f1f1f3;
        font-size: 55px;

        &.selected {
            background-color: red;
        }
    }
}
