.prosandcons {
    height: 100dvh;
    padding-bottom: calc(var(--half-height) + (var(--line-height) * 3));
    padding-top: calc(var(--line-height) * 3);
    padding-inline: 3rem;

    .window {
        --pane-gap: var(--line-height);
        --pane-offset: calc(var(--pane-gap) / 2);

        display: flex;
        gap: var(--pane-gap);
        height: 100%;
        max-width: 1366px;
        margin: 0 auto;

        .pane {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            min-width: calc(50% - var(--pane-offset));
            max-width: calc(50% - var(--pane-offset));
            height: 100%;
            border: solid 1px var(--fg4);

            .name {
                position: absolute;
                top: calc(var(--half-height) * -1);
                left: 50%;
                transform: translateX(-50%);
                color: var(--fg0);
                background-color: var(--bg2);
                padding-inline: 1ch;
                font-weight: 600;
            }

            .label {
                position: absolute;
                top: -9px;
                left: 50%;
                transform: translateX(-50%);
                color: var(--fg0);
                background-color: var(--bg0);
                padding-inline: 1ch;
            }

            .editor {
                padding-top: var(--line-height);

                .line {
                    position: relative;
                    padding-left: var(--half-height);

                    &.selected {
                        background-color: var(--bg1);
                    }

                    &.normal {
                        background-color: var(--bg0);
                    }

                    .number {
                        color: var(--fg4);
                        padding-right: var(--half-height);
                    }

                    input {
                        font-family: inherit;
                        font-size: inherit;
                        color: var(--fg0);
                        background-color: inherit;
                        padding: 0;
                        border: none;

                        &:focus-visible,
                        &:focus,
                        &:active {
                            outline: none;
                        }
                    }

                    .muted {
                        color: var(--fg4);
                    }

                    .content {
                        color: var(--fg1);
                    }
                }
            }
        }

        @media (max-width: 815px) {
            --pane-gap: var(--half-height);
        }
    }

    @media (max-width: 815px) {
        padding-bottom: calc(var(--half-height) + (var(--line-height) * 1));
        padding-top: var(--line-height);
        padding-inline: var(--half-height);
    }
}
