.footer {
    display: flex;
    gap: 1ch;

    .version {
        color: var(--muted);
    }

    .date {
        color: var(--muted);
    }

    .time {
        color: var(--muted);
    }
    @media screen {
        // @media (min-width: 1056px) and (min-height: 816px) {

        // }
    }
}
