.footer {
    display: flex;
    gap: 2ch;

    .version {
        color: var(--light);
    }

    .date {
        color: var(--light);
    }

    .time {
        color: var(--light);
    }

    @media (min-width: 830px), print {
        position: absolute;
        top: calc(var(--line-height) * 57);
        left: 0;
        width: 57ch;
    }
}
