.legend {
    padding-top: var(--line-height);

    .title {
        color: var(--color);
        width: max-content;
    }

    .item {
        display: flex;
        gap: 4ch;
        padding: 0;
        background: none;
        border: none;
        font-family: inherit;
        font-size: var(--font-size);
        text-align: left;

        &.on {
            color: var(--accent);

            .name,
            .value,
            .alt {
                color: var(--accent);
                transition: color 100ms ease-in-out;
            }
        }

        .name {
            color: var(--light);
            width: max-content;
        }

        .value {
            color: var(--muted);
            width: max-content;
        }

        .alt {
            color: var(--lighter);
            width: max-content;
        }
    }

    .page-details,
    .box-details,
    .ui-details {
        @media screen and (max-width: 1299px) {
            display: none;
        }
    }
}
