.readout-wrapper {
    position: relative;
    padding: calc(var(--line-height) * 1) 2ch;

    .readout {
        position: relative;
        display: flex;
        gap: calc(var(--line-height) * 1);

        @media screen and (min-width: 1228px) {
            flex-direction: column;
            align-items: flex-end;
        }

        .block {
            .title {
                color: var(--color);

                @media screen and (min-width: 1228px) {
                    text-align: right;
                }
            }

            .item {
                cursor: pointer;

                display: flex;
                gap: 4ch;
                padding: 0;
                background: none;
                border: none;
                font-family: inherit;
                font-size: var(--font-size);
                text-align: left;

                &.on {
                    color: var(--accent);

                    .name,
                    .value,
                    .alt {
                        color: var(--accent);
                    }
                }

                .name {
                    color: var(--light);
                    width: 6ch;

                    @media screen and (min-width: 1228px) {
                        text-align: right;
                    }
                }

                .value {
                    color: var(--muted);
                    width: 6ch;

                    @media screen and (min-width: 1228px) {
                        text-align: right;
                    }
                }
            }
        }
    }
}
