.readout-wrapper {
    position: relative;
    padding: calc(var(--line-height) * 1) 2ch;

    .readout {
        display: inline-flex;
        flex-direction: column;
        align-items: flex-end;
        gap: calc(var(--line-height) * 1);

        .dimensions {
            .title {
                color: var(--color);
                text-align: right;
            }

            .item {
                display: flex;
                gap: 4ch;

                .name {
                    color: var(--light);
                    width: 6ch;
                }

                .value {
                    color: var(--muted);
                    width: 6ch;
                    text-align: right;
                }
            }
        }

        .pointer {
            pointer-events: all;

            .title {
                color: var(--color);
                text-align: right;
            }

            .item {
                display: flex;
                gap: 4ch;

                .name {
                    color: var(--light);
                    width: 6ch;
                    text-align: right;
                }

                .value {
                    color: var(--muted);
                    width: 6ch;
                    text-align: right;
                }
            }
        }
    }
}
