.readout {
    display: flex;
    gap: 4ch;
    overflow: auto;
    padding-top: var(--line-height);
    padding-bottom: var(--line-height);

    .block {
        display: flex;
        gap: 2ch;

        .title {
            color: var(--color);
        }

        .item {
            cursor: pointer;

            display: flex;
            gap: 1ch;
            padding: 0;
            background: none;
            border: none;
            font-family: inherit;
            font-size: var(--font-size);

            &.on {
                color: var(--accent);

                .name,
                .value,
                .alt {
                    color: var(--accent);
                }
            }

            .name {
                color: var(--light);
                // width: 6ch;
            }

            .value {
                color: var(--muted);
                // width: 6ch;

                @media screen and (min-width: 1300px) {
                    text-align: right;
                }
            }
        }
    }
}
