.contact {
    @media screen and (min-width: 928px) {
        position: absolute;
        top: 0;
        right: 0;
        width: 35ch;
    }

    .list {
        display: flex;
        flex-direction: column;

        .item {
            flex: 1;
            display: flex;

            .name {
                color: var(--muted);
                width: 14ch;
            }

            .text {
                gap: var(--line-height);
                color: var(--primary);
                width: 21ch;
            }
        }
    }
}
