.page {
    --cell-border-color: #eeeeee;

    font-family: var(--font-departure-mono);
    font-size: 22px;
    position: relative;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .renderer {
        position: relative;

        .flex {
            position: absolute;
            top: 0;
            left: 0;
            color: red;
            box-shadow: inset 0 0 0 1px #ff0000;
        }

        .text {
            position: absolute;
            top: 0;
            left: 0;
            color: red;
            box-shadow: inset 0 0 0 1px #ff0000;

            .char {
                display: inline-block;
                box-shadow: inset 0 0 0 0.5px #ff0000;
            }
        }

        .grid {
            box-shadow: inset 0 0 0 1px var(--cell-border-color);

            .cell {
                box-shadow: inset 0 0 0 0.5px var(--cell-border-color);
            }
        }
    }
}
