.sheet {
    position: relative;
    width: 8.5in;
    height: 11in;
    padding: 4rem calc(8px * 6);
    margin: 0 auto;
    background-color: #1f1f1f;

    @media screen {
        @media (min-width: 816px) {
            box-shadow: 0px 0px 0px 1px rgb(255 255 255 / 0.3);
        }

        @media (max-width: 815px) {
            width: 100%;
            height: 100%;
            padding: 2rem calc(8px * 3);
            background-color: var(--background-color);
        }
    }
}
