.sheet {
    position: relative;
    width: 8.5in;
    height: 11in;
    padding: 4rem calc(8px * 6);
    margin: 0 auto;
    background-color: #212121;
    color: #ccc;

    @media screen {
        box-shadow: 0px 0px 0px 1px rgb(255 255 255 / 0.5);

        @media (max-width: 815px) {
            width: 100%;
            height: 100%;
            padding: 0.25in;
        }
    }
}
