.sheet {
    position: absolute;

    width: 8.5in;
    height: 11in;
    padding: 4rem calc(8px * 6);
    background-color: #1f1f1f;
    border: solid 1px #656565;

    .content {
        position: relative;
        display: flex;
        gap: calc(8px * 6);

        .left {
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 2rem;
        }

        .right {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            width: calc(8px * 26);
        }
    }
}
