.sheet {
    @media screen {
        height: 100%;
        width: fit-content;
        margin: var(--line-height) auto;
    }

    @media (min-width: 816px) and (min-height: 1056px), print {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8.5in;
        height: 11in;
        padding: calc(var(--line-height) * 2) 0;
        margin: 0 auto;
    }

    @media screen {
        @media (min-width: 1056px) and (min-height: 816px) {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 8.5in;
            width: 11in;
            padding: calc(var(--line-height) * 1) 0ch;
            margin: auto;

            background-color: #ff000010;
        }
    }
}
