.page {
    font-family: var(--font-departure-mono);
    position: relative;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .renderer {
        position: relative;
        user-select: none;

        canvas {
            display: block;
        }

        .input {
            cursor: default;
            position: absolute;
            resize: none;
            border: none;
            outline: none;
            color: transparent;
            background: transparent;
            caret-color: transparent;
            overflow: hidden;
            padding: 0;
            margin: 0;
            opacity: 0;
            inset: 0;
        }
    }
}
