.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/grid-pattern.svg');
}

.frame {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;

    &.gap1 {
        gap: 18px;
    }
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1px;
}

.line {
    // position: fixed;
    display: flex;
    align-items: center;
    gap: 1px;
    width: 100%;

    &.start {
        justify-content: flex-start;
    }

    &.end {
        justify-content: flex-end;
    }

     &.split {
        justify-content: space-between;
    }
}

.pixel {
    background-color: crimson;
    height: 16px;
    width: 16px;
}
