@use 'styles/utilities.module.scss' as utilities;

.container {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: calc(utilities.$line-height * 2);

    p {
        text-align: justify;
        margin: 0px;
    }
}
