@use 'styles/utilities.module.scss' as utilities;
@use 'styles/dark.theme.module.scss' as theme;

.search-row {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    .search-ctr {
        display: flex;
        align-items: center;
        width: fit-content;
        margin-bottom: calc(utilities.$line-height * 2);
        background-color: theme.$link-30;
        border-bottom: solid 2px theme.$link-darker;

        &:focus-within {
            outline: none;
            border-bottom: solid 2px theme.$link;
        }

        .search {
            font-family: var(--font-code);
            width: 40ch;
            border: none;
            font-size: utilities.$font-size;
            height: calc(utilities.$line-height * 1.5);
            padding: 0px 2ch;
            color: theme.$link;
            background-color: transparent;

            &:focus,
            &:active {
                outline: none;
            }

            &::placeholder {
                color: theme.$link-darker;
            }
        }

        button {
            background-color: transparent;
            border: none;
            color: theme.$link;
            font-size: 24px;
            line-height: 0;
            opacity: 0;

            &:focus,
            &:active {
                outline: none;
            }

            &.active {
                opacity: 1;
            }
        }
    }
}

.container {
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: calc(utilities.$line-height * 2);

    p {
        margin: 0px;
    }
}
