.two-zero-three-five {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    color: var(--lightest);

    .barcode,
    .digits {
        display: flex;
        gap: 3px;
        align-items: center;
        justify-content: center;
    }
}
