.two-zero-three-five {
    pointer-events: all;
    position: absolute;
    bottom: calc(var(--line-height) * 0);
    right: 4ch;
    gap: var(--line-height);
    color: var(--light);
    display: flex;
    gap: 12px;
    align-items: center;
    justify-content: center;

    @media (max-width: 1400px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    @media print {
        display: none;
    }
}
