.toolbar {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    @media screen and (max-width: 1023px) {
        display: none;;
    }

    button {
        font-family: var(--font-commit-mono);
        text-align: left;
        font-weight: 500;
        width: 100px;
        padding: 1rem;

        &.on {
            color: red;
        }
    }
}
