.content {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 4ch;

    @media screen and (max-width: 1299) {
        // flex-direction: column;
    }

    .left {
        display: flex;
        flex-direction: column;
        gap: calc(var(--line-height) * 2);
    }

    .right {
        display: flex;
        flex-direction: column;
        gap: calc(var(--line-height) * 2);
        width: 35ch;

        @media screen and (max-width: 1299) {
            // width: 100%;
        }
    }
}
