.content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    @media screen {
        &.guide {
            box-shadow: inset 0px 0px 0px 2px #ff000050;
        }
    }
}
