@use 'styles/utilities';

.content {
    flex: 2;
    display: flex;
    width: 100%;

    @media screen {
        flex-direction: column;
        gap: calc(var(--line-height) * 4);
        margin-bottom: calc(var(--line-height) * 4);

        .right {
            max-width: unset;
        }
    }

    @media print {
        flex-direction: row;
        gap: 4ch;
    }

    .right {
        display: flex;
        flex-direction: column;

        @media screen {
            gap: calc(var(--line-height) * 4);
        }

        @media print {
            max-width: 34ch;
            gap: calc(var(--line-height) * 3);
        }
    }
}
