.content {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 4ch;

    @media screen and (max-width: 939px) {
        flex-direction: column;
    }

    .lines {
        position: absolute;
        top: 0;
        left: -4ch;
        color: var(--lighter);
    }

    .left {
        display: flex;
        flex-direction: column;
        gap: calc(var(--line-height) * 2);
    }

    .right {
        display: flex;
        flex-direction: column;
        gap: calc(var(--line-height) * 2);
        width: 35ch;

        @media screen and (max-width: 939px) {
            width: 100%;
        }
    }
}
