.viewer {
    height: 100dvh;
    padding-bottom: calc(var(--half-height) + (var(--line-height) * 3));
    padding-top: calc(var(--line-height) * 3);
    padding-inline: 3rem;

    .window {
        // display: grid;
        // grid-template-columns: repeat(2, calc(50% - 8px));
        // grid-template-rows: calc(
        //     100dvh - calc(var(--half-height) + (var(--line-height) * 3)) - calc(var(--line-height) * 3)
        // );
        // gap: 16px;

        display: flex;
        gap: 16px;

        height: 100%;
        max-width: 1366px;
        margin: 0 auto;

        .pane {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 100%;
            min-width: 50%;
            max-width: 50%;
            height: 100%;
            padding-top: var(--half-height);
            border: solid 1px var(--fg4);

            .name {
                position: absolute;
                top: calc(var(--half-height) * -1);
                left: 50%;
                transform: translateX(-50%);
                color: var(--fg0);
                background-color: var(--bg2);
                padding-inline: 1ch;
                font-weight: 600;
            }

            .label {
                position: absolute;
                top: -9px;
                left: 50%;
                transform: translateX(-50%);
                color: var(--fg0);
                background-color: var(--bg0);
                padding-inline: 1ch;
            }

            .field {
                position: relative;
                display: flex;
                align-items: center;
                gap: 2ch;
                padding-inline: var(--half-height);

                svg {
                    position: absolute;
                    top: 2px;
                    left: 5.87px;
                    width: 14px;
                    height: 14px;
                }

                input {
                    font-size: var(--font-size);
                    line-height: var(--line-height);
                    color: var(--fg1);
                    font-family: inherit;
                    width: 100%;
                    background-color: var(--bg0);
                    border: none;
                    padding-bottom: var(--half-height);
                    padding-left: 2ch;
                    border-bottom: solid 1px var(--fg4);

                    &:focus,
                    &:active,
                    &:focus-visible {
                        outline: none;
                    }
                }
            }

            .list {
                flex: 1;
                height: 100%;
                padding-inline: var(--half-height);
                padding-top: var(--half-height);

                .option {
                    display: flex;
                    align-items: center;
                    gap: 1ch;
                    padding-inline: var(--half-height);
                    overflow: auto;

                    &.normal {
                        background-color: var(--bg0);
                        color: var(--fg1);
                    }

                    &.selected {
                        background-color: var(--bg1);
                        color: var(--fg1);
                    }

                    .toolname {
                        color: var(--fg1);
                    }

                    .description {
                        color: var(--fg3);
                        white-space: nowrap;
                    }

                    svg {
                        color: var(--fg3);
                    }
                }
            }
        }
    }
}
