.stars {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;

    &.load {
        .star {
            transform: translate(var(--start-left), var(--start-top));
            animation: load var(--animation-duration) linear
                    var(--animation-delay) forwards,
                twinkle var(--twinkle-duration) ease-in-out var(--twinkle-delay)
                    infinite;

            @keyframes load {
                0% {
                    transform: translate(var(--start-left), var(--start-top));
                }

                100% {
                    transform: translate(
                        var(--start-left),
                        calc((var(--start-top) + var(--size)) * -1)
                    );
                }
            }
        }
    }

    .star {
        position: absolute;
        width: var(--size);
        height: var(--size);
        background: var(--white);
        border-radius: 50%;

        // DEV:
        animation: move var(--load-duration) ease-in-out var(--load-delay)
                forwards,
            twinkle var(--twinkle-duration) ease-in-out var(--twinkle-delay)
                infinite;
        // animation: move var(--animation-duration) linear var(--animation-delay)
        //         infinite,
        //     twinkle var(--twinkle-duration) ease-in-out var(--twinkle-delay)
        //         infinite;
        transform: translate(var(--start-left), var(--start-top));

        @keyframes move {
            0% {
                transform: translate(var(--start-left), var(--start-top));
            }

            100% {
                transform: translate(
                    var(--start-left),
                    calc(var(--start-top) - 10dvh)
                );
            }
        }

        // @keyframes move {
        //     0% {
        //         transform: translate(
        //             var(--start-left),
        //             calc(100dvh + var(--start-top))
        //         );
        //     }

        //     100% {
        //         transform: translate(var(--start-left), calc(var(--size) * -1));
        //     }
        // }

        @keyframes twinkle {
            0%,
            100% {
                opacity: 0.3;
            }
            50% {
                opacity: 1;
            }
        }

        &.gray {
            background: var(--gray);
        }

        &.dark {
            background: var(--dark);
        }
    }
}
