.plotter {
    --line-width: 14px;

    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100%;

    .top,
    .right,
    .bottom,
    .left {
        position: absolute;
        background-color: rgb(190, 190, 190, 0.7);
        backdrop-filter: blur(1px);
    }

    .top {
        top: 0;
        left: 0;
        width: var(--line-width);
        // height: calc(50dvh - var(--line-width) / 2);
        // transform: translateX(calc(50vw - var(--line-width) / 2));
        border-top: none;
    }

    .bottom {
        bottom: 0;
        left: 0;
        width: var(--line-width);
        // height: calc(50dvh - var(--line-width) / 2);
        // transform: translateX(calc(50vw - var(--line-width) / 2));
        border-bottom: none;
    }

    .left {
        top: 0;
        left: 0;
        height: var(--line-width);
        // width: calc(50vw - var(--line-width) / 2);
        // transform: translateY(calc(50dvh - var(--line-width) / 2));
        border-left: none;
    }

    .right {
        top: 0;
        right: 0;
        height: var(--line-width);
        // width: calc(50vw - var(--line-width) / 2);
        // transform: translateY(calc(50dvh - var(--line-width) / 2));
        border-right: none;
    }
}
