.links {
    --img-size: calc(400px / 2);

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: calc(var(--line-height) * 2);
    min-height: 100svh;
    width: fit-content;
    margin: 0 auto;
    padding: calc(var(--line-height) * 4) 0;

    .avatar {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var((--container-color));
        border-radius: 50%;
        width: var(--img-size);
        height: var(--img-size);

        img {
            width: var(--img-size);
            height: var(--img-size);
            border-radius: 50%;
        }
    }

    .text {
        width: 34ch;
        text-align: center;

        .title {
            color: var(--muted);

            .words {
                margin-left: 5ch;

                .word {
                    opacity: 0;
                    position: absolute;
                    animation-iteration-count: infinite;
                    animation-fill-mode: forwards;
                    margin-left: -4ch;

                    &:nth-child(1) {
                        opacity: 1;
                        animation: fadeInOut 6s ease-in-out infinite;
                    }

                    &:nth-child(2) {
                        animation: fadeInOut 6s ease-in-out infinite 2s;
                    }

                    &:nth-child(3) {
                        animation: fadeInOut 6s ease-in-out infinite 4s;
                    }
                }
            }

            @keyframes fadeInOut {
                0%,
                20% {
                    opacity: 0;
                }

                30%,
                50% {
                    opacity: 1;
                }

                60%,
                100% {
                    opacity: 0;
                }
            }
        }
    }

    nav {
        width: 100%;

        .group {
            &:not(:last-child) {
                margin-bottom: calc((var(--line-height) * 3));
            }

            h2 {
                text-align: center;
                margin-top: 0;
                margin-bottom: var(--line-height);
            }

            ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: var(--line-height);
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    width: 100%;

                    a {
                        position: relative;
                        width: 100%;
                        display: inline-block;
                        background-color: var((--container-color));
                        color: var(--primary);
                        text-align: center;
                        padding: calc(var(--line-height) / 2);
                        border-radius: 10px;

                        .icon {
                            position: absolute;
                            right: 1ch;
                            top: 0;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: calc(var(--line-height) * 2);

                            svg {
                                margin-left: 1ch;
                                fill: var(--primary);
                            }
                        }
                    }
                }
            }
        }
    }
}
