.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100%;

    .grid {
        display: grid;
        grid-template-columns: repeat(40, 1ch);
        grid-template-rows: repeat(20, 16.5px);
        padding: calc(var(--line-height) * 2) 8ch;
    }
}
