.clients {
    @media (min-width: 830px), print {
        position: absolute;
        top: calc(var(--line-height) * 0);
        left: 0;
        max-width: 92ch;
    }

    .jobs {
        display: flex;
        flex-direction: column;
        gap: calc(var(--line-height) * 2);

        .job {
            display: flex;
            gap: 4ch;

            .company {
                color: var(--primary);
                width: 10ch;
            }

            .info {
                .roles {
                    display: flex;
                    flex-direction: column;
                    gap: var(--line-height);

                    .role {
                        .details {
                            .title {
                                color: var(--light);
                                position: relative;
                            }

                            .date {
                                color: var(--lighter);
                            }
                        }

                        .list {
                            color: var(--color);
                        }
                    }
                }
            }

            .stack {
                color: var(--muted);
            }
        }
    }

    .back {
        margin-top: calc(var(--line-height) * 2);
    }
}
