@use 'styles/utilities.module.scss' as utilities;
@use 'styles/dark.theme.module.scss' as theme;

.item {
    list-style-type: none;
    position: relative;
    cursor: pointer;

    @media (hover: hover) {
        &::after {
            content: '';
            width: calc(100% + 40px);
            height: calc(100% + 20px);
            position: absolute;
            top: -10px;
            left: -20px;
            background-color: theme.$link-20;

            // NOTE: Experimenting with no border radius
            // border-radius: 6px;
            opacity: 0;
            pointer-events: none;
        }

        &:hover::after {
            opacity: 1;
        }
    }
}

.link {
    cursor: pointer;
    color: inherit;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    outline: none;
    gap: utilities.$line-height;
}

.title,
.description {
    word-break: break-word;
    margin: 0;
}

.title-wrapper {
    display: flex;
    justify-content: space-between;

    .title {
        color: theme.$link;
    }

    .date {
        color: theme.$muted;
    }
}
