.grid {
    display: grid;
    grid-template-columns: repeat(35, 22px);
    grid-auto-rows: 22px;

    * {
        font-size: 16.5px;
        line-height: normal;
    }

    .char {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
