@use 'styles/utilities';

@mixin button {
    position: absolute;
    top: 0.5px;
    margin-right: 0ch;
    transform: unset;
    line-height: var(--line-height);
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    a {
        &,
        &:hover {
            color: var(--primary);
        }
    }

    .previous,
    .next {
        display: flex;
        width: 100%;

        > a {
            position: relative;
        }
    }

    .previous,
    .next,
    .center {
        > a {
            max-width: 25ch;
            line-height: calc(
                var(--line-height) * var(--p-line-height-modifier)
            );

            @media (max-width: utilities.$small-width) {
                max-width: 15ch;
            }
        }
    }

    .previous {
        justify-content: flex-start;
    }

    .next {
        justify-content: flex-end;
    }
}
