.viewport {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100%;
    padding-inline: 2ch;
    overflow: hidden;

    @media screen and (max-width: 1299px) {
        padding-inline: 0ch;
    }

    @media print {
        padding: 0;
    }

    .breadcrumbs {
        user-select: none;
        position: absolute;
        top: calc(var(--line-height) * 1);
        left: 7ch;
        width: calc(100% - 18ch);
        color: var(--light);

        &.on {
            &,
            a,
            a.pathname {
                color: var(--accent);
                transition: color 100ms ease-in-out;
            }
        }

        @media print {
            display: none;
        }

        left: 0;
        width: 100%;
        max-width: 100%;
        
        // background-color: #0000ff20;

        a {
            color: var(--light);

            &.pathname {
                color: var(--color);
            }

            &:hover {
                color: var(--primary);
            }
        }

        .spacer {
            margin-inline: 1ch;
        }
    }

    .linenumbers {
        user-select: none;
        position: absolute;
        top: calc(var(--line-height) * 3);
        left: 7ch;
        color: var(--light);

        &.on {
            color: var(--accent);
        }

        @media screen and (max-width: 927px) {
            display: none;
        }
    }

    .statusbar {
        user-select: none;
        bottom: calc(var(--line-height) * 1);
        left: 7ch;
        display: flex;
        position: absolute;
        justify-content: space-between;
        width: 99ch;
        max-width: 8.5in;
        height: var(--line-height);
        color: var(--light);

        &.on {
            a {
                color: var(--accent);
            }
        }

        @media print {
            display: none;
        }

        @media screen and (max-width: 927px) {
            left: 0;
            width: 100%;
            max-width: 100%;
            
            // background-color: #ff000020;
        }

        a {
            color: var(--light);
        }

        .block {
            display: flex;
            gap: 3ch;

            a {
                display: flex;
                align-items: center;

                svg {
                    margin-right: 0.5ch;
                }
            }
        }

        .git {
            display: inline-block;
            position: relative;
            margin-right: 0.5ch;
            transform: translateY(1.5px);
        }
    }

    .workspace {
        display: flex;
        justify-content: center;
        overflow: auto;
        padding-top: calc(var(--line-height) * 1);
        padding-bottom: calc(var(--line-height) * 8);
        padding-inline: 2ch;

        @media screen and (max-width: 927px) {
            padding-top: 0;
            padding-bottom: 0;
        }
    }

    .hud {
        user-select: none;
        position: relative;
        display: flex;
        justify-content: center;

        @media print {
            display: none;
        }

        .pulltab {
            bottom: 0px;
            left: 0;

            &::after {
                bottom: -10.5px;
            }
        }
    }

    .toolbar {
        user-select: none;
        position: relative;
        display: flex;

        button {
            height: 4rem;
            padding-inline: 2ch;
        }

        .pulltab {
            top: 0;
            left: 0;

            &::after {
                top: -10.5px;
            }
        }
    }

    .pulltab {
        position: absolute;
        height: 1px;
        border-radius: 1px;
        width: 100%;
        text-align: center;
        background-color: var(--lightest);
        touch-action: none;

        &::after {
            position: absolute;
            left: 0;
            content: '';
            width: 100%;
            height: 22px;
        }
    }
}
