.viewport {
    // min-height: 100dvh;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    // justify-content: center;
    // padding-bottom: 10rem;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    perspective: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;

    .details {
        display: flex;
        justify-content: flex-end;
        width: 8.5in;
        padding: 2rem 0;

        ul {
            li {
                display: flex;
                justify-content: space-between;
                gap: 32px;

                span {
                    &:first-child {
                        color: #888888;
                    }
                }
            }
        }

        @media (max-width: 815px) {
            display: none;
        }

        @media print {
            display: none;
        }
    }
}
