@use 'styles/utilities';

$distance: 10px;

.projects {
    &.print-only {
        @media screen {
            display: none;
        }
    }

    .projects-wrapper {
        display: flex;
        flex-direction: column;
        gap: calc(var(--line-height) * 2);

        @media print {
            gap: var(--line-height);
        }

        &.compact {
            gap: calc(var(--line-height) * 2);

            .project-ctr {
                gap: var(--line-height);
            }
        }
    }
}
