$distance: 10px;

.projects {
    .projects-wrapper {
        display: flex;
        flex-direction: column;
        // gap: calc(var(--line-height) * 2);

        gap: var(--line-height);

        // @media print {
        //     gap: var(--line-height);
        // }
    }
}
