@use 'styles/utilities.module.scss' as utilities;
@use 'styles/dark.theme.module.scss' as theme;

.projects {
    .project-ctr {
        display: flex;
        flex-direction: column;
        gap: utilities.$line-height;

        &:not(:last-child) {
            margin-bottom: utilities.$line-height;

            &.display-images {
                margin-bottom: calc(utilities.$line-height * 3);
            }
        }
    }

    .img {
        width: 450px;
        margin: utilities.$line-height 0px;

        @media screen and (max-width: 500px) {
            width: 100%;
        }

        img {
            border-radius: 10px;
            width: 100%;
            height: auto;
        }
    }
}
