.tag {
    cursor: pointer;

    &:hover {
        .name {
            color: var(--primary);
        }
    }

    &.selected {
        border-radius: 2px;
        background-color: var(--primary-20);
        box-shadow: 0px 0px 0px 2px var(--primary-20);
    }

    .spacer {
        color: var(--muted);
    }
}
