@use 'theme';

$mode: 'dark';

@mixin green() {
    @include theme.create(
        $mode,
        $primary: #4ec9b0,
        $secondary: #569cd6,
        $tertiary: #9cdcfe,
        $accent: #c586c0
    );
}

@mixin blue() {
    @include theme.create(
        $mode,
        $primary: #00c3e3,
        $secondary: #569cd6,
        $tertiary: #9cdcfe,
        $accent: #ff4554
    );
}

@mixin red() {
    @include theme.create(
        $mode,
        $primary: #ff4554,
        $secondary: #569cd6,
        $tertiary: #9cdcfe,
        $accent: #00c3e3
    );
}

@mixin monochrome() {
    @include theme.create(
        $mode,
        $primary: #d4d4d4,
        $secondary: #d4d4d4,
        $tertiary: #d4d4d4,
        $accent: #d4d4d4
    );
}
