@use 'theme';

$mode: 'light';

@mixin green($type: null, $prefix: null) {
    @include theme.create(
        $type, 
        $prefix,
        $mode,
        $primary: #216d92,
        $secondary: #494bdf,
        $tertiary: #3e77bb,
        $accent: #ad3da4
    );
}

@mixin blue($type: null, $prefix: null) {
    @include theme.create(
        $type,
        $prefix,
        $mode,
        $primary: #6651fa,
        $secondary: #494bdf,
        $tertiary: #3e77bb,
        $accent: #e60012
    );
}

@mixin red($type: null, $prefix: null) {
    @include theme.create(
        $type,
        $prefix,
        $mode,
        $primary: #e60012,
        $secondary: #494bdf,
        $tertiary: #3e77bb,
        $accent: #6651fa
    );
}

@mixin monochrome($type: null, $prefix: null) {
    @include theme.create(
        $type,
        $prefix,
        $mode,
        $primary: #242424,
        $secondary: #242424,
        $tertiary: #242424,
        $accent: #242424
    );
}
