@use 'sass:map';

@mixin defaultColor($variableName, $value, $mode, $options) {
    @if $value {
        --#{$variableName}: #{$value};
    } @else {
        --#{$variableName}: #{map.get($options, $mode)};
    }
}

@mixin create(
    $type,
    $prefix,
    $mode,
    $primary,
    $secondary,
    $tertiary,
    $accent,
    $background-color: null,
    $color: null,
    $muted: null
) {
    $opacities: '05', '10', '15', '20', '30', '50';
    $colors: (
        'primary': $primary,
        'secondary': $secondary,
        'tertiary': $tertiary,
        'accent': $accent,
    );

    @if $type == null {
        // Page
        @include defaultColor(
            'background-color',
            $background-color,
            $mode,
            (
                'Light': #ffffff,
                'Dark': #221d29,
            )
        );

        @include defaultColor(
            'color',
            $color,
            $mode,
            (
                'Light': #242424,
                'Dark': #d4d4d4,
            )
        );

        @include defaultColor(
            'muted',
            $muted,
            $mode,
            (
                'Light': #757575,
                'Dark': #808080,
            )
        );

        @each $name, $color in $colors {
            --#{$name}: #{$color};
            --#{if($prefix, #{$prefix}-, '')}#{$name}-string: '#{$color}';

            @each $opacity in $opacities {
                --#{$name}-#{$opacity}: #{$color}#{$opacity};
            }

            @if $mode == 'Light' {
                --#{$name}-variant: #{mix(white, $color, 10%)};
            } @else if $mode == 'Dark' {
                --#{$name}-variant: #{mix(black, $color, 10%)};
            }
        }

        // Code block word highLights
        @if $mode == 'Light' {
            $word-background-color: #ffdcc2;
            $r-word-background-color: #ffc2d3;
            $g-word-background-color: #c2ffce;
            $b-word-background-color: #c2efff;
        } @else if $mode == 'Dark' {
            $word-background-color: #63341d;
            $r-word-background-color: #9f1239;
            $g-word-background-color: #115e59;
            $b-word-background-color: #1e40af;
        }
    }

    @if $type == 'strings' {
        @each $name, $color in $colors {
            --#{$mode}-#{$name}-string: '#{$color}';

            @each $opacity in $opacities {
                --#{$mode}-#{$name}-#{$opacity}-string: #{$color}#{$opacity};
            }

            @if $mode == 'Light' {
                --#{$mode}-#{$name}-variant: #{mix(white, $color, 10%)};
            } @else if $mode == 'Dark' {
                --#{$mode}-#{$name}-variant: #{mix(black, $color, 10%)};
            }
        }
    }
}
