:root {
    --font-size: 11px;
    --line-height: 14px;
    --background-color: #ffffff;
    --color: #000000;
    --muted: #767676;
    --light: #aaaaaa;
    // --accent: #0000ee;
    // --accent-background: #0000ee1a;
    --accent: #f8463a;
    --accent-background: #f8463a1a;
    --path: #000000;

    @media print {
        --background-color: #ffffff;
    }
}

* {
    box-sizing: border-box;
    font-size: var(--font-size);
    line-height: var(--line-height);
    margin: 0;
    padding: 0;

    &::selection {
        color: var(--accent);
        background-color: var(--accent-background);
    }
}

html {
    background-color: var(--background-color);
    color: var(--color);
    -webkit-text-size-adjust: 100%;

    &,
    a,
    button {
        cursor: url(/crosshair-16x16.svg) 8 8, auto;
    }
}

body {
    font-family: var(--font-mono);
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    color: var(--accent);
    -webkit-tap-highlight-color: transparent;
    transition: color 150ms ease-in-out;

    &:hover {
        color: var(--accent);
    }
}

button {
    cursor: pointer;
    background: none;
    border: none;
    font-family: inherit;
    font-size: var(--font-size);
    color: var(--color);

    &:hover {
        color: var(--accent);
    }
}

#markup-overlay {
    position: absolute;
    top: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
}
