:root {
    --font-size: 11px;
    --line-height: 16.5px;

    // Light theme
    --background-color: #ffffff;

    // --primary: #000000;
    // --color: #767676;
    // --muted: #999999;
    // --light: #aaaaaa;
    // --lighter: #cccccc;
    // --lightest: #cccccc;

    // 255 / 6

    --primary: rgb(0, 0, 0);
    --color: rgb(42.5, 42.5, 42.5);
    --muted: rgb(85, 85, 85);
    --light: rgb(127.5, 127.5, 127.5);
    --lighter: rgb(170, 170, 170);
    --lightest: rgb(212.5, 212.5, 212.5);

    --accent: #ff3131;
    --accent-background: rgba(255, 49, 049, 0.1);
    --path: #000000;
    --path-hover: #ff3131;
    --path-background: rgba(255, 49, 49, 0.1);
    --link: #000000;
    --link-hover: #ff3131;
    --link-background: rgba(255, 49, 49, 0.1);

    @media print {
        --background-color: #ffffff;
    }
}

* {
    box-sizing: border-box;
    font-size: var(--font-size);
    line-height: var(--line-height);
    margin: 0;
    padding: 0;

    &::selection {
        color: var(--background-color);
        background-color: var(--primary);
    }
}

html {
    background-color: var(--background-color);
    color: var(--color);
    -webkit-text-size-adjust: 100%;

    &,
    * {
        cursor: url(/cursor.svg) 8 8, auto;
    }

    &.cursor-loaded {
        &,
        * {
            @media screen {
                cursor: none;
            }
        }
    }
}

body {
    font-family: var(--font-mono);
    background-color: var(--background-color);
}

a {
    text-decoration: none;
    color: var(--link);
    -webkit-tap-highlight-color: transparent;
    transition: color 150ms ease-in-out;

    &:hover {
        color: var(--link-hover);
    }
}

button {
    cursor: pointer;
    background: none;
    border: none;
    font-family: inherit;
    font-size: var(--font-size);
    color: var(--color);
}

#markup-overlay {
    position: absolute;
    top: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
}
