$color: #d4d4d4;
$background-color: #221d29;
$tertiary: #d4d4d4;
$tertiary-05: #d4d4d405;
$tertiary-10: #d4d4d410;
$tertiary-15: #d4d4d415;
$tertiary-20: #d4d4d420;
$tertiary-30: #d4d4d430;
$tertiary-50: #d4d4d450;
$secondary: #d4d4d4;
$secondary-05: #d4d4d405;
$secondary-10: #d4d4d410;
$secondary-15: #d4d4d415;
$secondary-20: #d4d4d420;
$secondary-30: #d4d4d430;
$secondary-50: #d4d4d450;
$muted: #d4d4d4;
$primary: #d4d4d4;
$primary-05: #d4d4d405;
$primary-10: #d4d4d410;
$primary-15: #d4d4d415;
$primary-20: #d4d4d420;
$primary-30: #d4d4d430;
$primary-50: #d4d4d450;
$primary-variant: #d4d4d4;
$accent: #d4d4d4;
$accent-05: #d4d4d405;
$accent-10: #d4d4d410;
$accent-15: #d4d4d415;
$accent-20: #d4d4d420;
$accent-30: #d4d4d430;
$accent-50: #d4d4d450;
$copy-background-color: #d4d4d4;
$copy-label-color: #d4d4d4;
$word-background-color: #d4d4d4;
$r-word-background-color: #d4d4d4;
$g-word-background-color: #d4d4d4;
$b-word-background-color: #d4d4d4;
