$color: #d4d4d4;
$background-color: #221d29;
$skill: #d4d4d4;
$skill-05: #d4d4d405;
$skill-10: #d4d4d410;
$skill-15: #d4d4d415;
$skill-20: #d4d4d420;
$skill-30: #d4d4d430;
$skill-50: #d4d4d450;
$heading: #d4d4d4;
$heading-05: #d4d4d405;
$heading-10: #d4d4d410;
$heading-15: #d4d4d415;
$heading-20: #d4d4d420;
$heading-30: #d4d4d430;
$heading-50: #d4d4d450;
$muted: #d4d4d4;
$comment: #d4d4d4;
$date: #d4d4d4;
$link: #d4d4d4;
$link-05: #d4d4d405;
$link-10: #d4d4d410;
$link-15: #d4d4d415;
$link-20: #d4d4d420;
$link-30: #d4d4d430;
$link-50: #d4d4d450;
$link-darker: #d4d4d4;
$name: #d4d4d4;
$name-05: #d4d4d405;
$name-10: #d4d4d410;
$name-15: #d4d4d415;
$name-20: #d4d4d420;
$name-30: #d4d4d430;
$name-50: #d4d4d450;
$text: #d4d4d4;
$company: #d4d4d4;
$copy-background-color: #d4d4d4;
$copy-label-color: #d4d4d4;
$word-background-color: #d4d4d4;
$r-word-background-color: #d4d4d4;
$g-word-background-color: #d4d4d4;
$b-word-background-color: #d4d4d4;
