$color: #d4d4d4;
$background-color: #221d29;
$tertiary: #9cdcfe;
$tertiary-05: #9cdcfe05;
$tertiary-10: #9cdcfe10;
$tertiary-15: #9cdcfe15;
$tertiary-20: #9cdcfe20;
$tertiary-50: #9cdcfe20;
$secondary: #569cd6;
$secondary-05: #569cd605;
$secondary-10: #569cd610;
$secondary-15: #569cd615;
$secondary-20: #569cd620;
$secondary-30: #569cd630;
$secondary-50: #569cd650;
$muted: #808080;
$title-color: #6a9955;
$date: #b5cea8;
$primary: #ff4554;
$primary-05: #ff455405;
$primary-10: #ff455410;
$primary-15: #ff455415;
$primary-20: #ff455420;
$primary-30: #ff455430;
$primary-50: #ff455450;
$primary-darker: #3b9784;
$accent: #00c3e3;
$accent-05: #4ec9b005;
$accent-10: #4ec9b010;
$accent-15: #4ec9b015;
$accent-20: #4ec9b020;
$accent-50: #4ec9b050;
$text: #ce9178;
$company: #dcdcaa;
$copy-background-color: #276558;
$copy-label-color: #a7e4d7;
$word-background-color: #63341d;
$r-word-background-color: #9f1239;
$g-word-background-color: #115e59;
$b-word-background-color: #1e40af;
