@use 'sass:string';
@use 'utilities';

:export {
    default: string.unquote(utilities.$default);
    defaultDarkMetaTheme: utilities.$defaultDarkMetaTheme;
    defaultLightMetaTheme: utilities.$defaultLightMetaTheme;
    // @each $key, $value in utilities.$theme-colors {
    //     #{unquote($key)}: $value;
    // }
    @each $key, $value in utilities.$theme-colors {
        #{unquote($key)}: $value;
    }
}
