@use 'utilities';

@mixin large-font() {
    [data-control] {
        @include utilities.vertical();
        width: 100% !important;
    }

    [data-controls] {
        display: block;
    }

    [data-label] {
        justify-content: flex-start;
        margin-bottom: var(--line-height);

        &:not(:nth-of-type(3)) {
            margin-top: calc(var(--line-height) * 2);
        }
    }

    [data-control-group] {
        display: block;
        overflow: hidden;
    }

    [data-colors] {
        margin-top: var(--line-height);
        padding-bottom: var(--line-height);
    }

    [data-color-group] {
        height: calc(var(--line-height) * 4);
    }
}

:root {
    // Utilities
    --line-height: #{utilities.$line-height};
    --font-size: #{utilities.$font-size};
    --offset: #{utilities.$offset};
    --p-line-height-modifier: #{utilities.$p-line-height-modifier};
    --page-padding: #{utilities.$page-padding};
    --page-gap: #{utilities.$page-gap};
    --small-width: #{utilities.$small-width};
    --medium-width: #{utilities.$medium-width};
    --large-width: #{utilities.$large-width};
    --max-width: #{utilities.$max-width};

    @media (hover: hover) {
        --offset: 3px;
    }

    // Defaults
    --prefers-color-scheme-transition-speed: 250ms;
    --font-monospace: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
        Liberation Mono, 'Courier New', monospace;
    --font-family: var(--font-monospace);

    @media print {
        --font-size: 11px;
        --line-height: 16px;
    }

    @include utilities.init-themes();

    br[data-header-break] {
        display: none;
    }

    // Fonts
    &[data-font-size='16px'] {
        --font-size: 16px;
        --line-height: 24px;
    }

    &[data-font-size='20px'] {
        --font-size: 20px;
        --line-height: 32px;
    }

    &[data-font-size='16px'],
    &[data-font-size='20px'] {
        @include large-font();

        @media (max-width: 613px) {
            br[data-header-break] {
                display: unset;
            }

            [data-header] {
                line-height: calc(var(--line-height) * 2);
            }
        }

        &[data-font-family='Retro'] {
            br[data-header-break] {
                display: unset;
            }

            [data-header] {
                line-height: calc(var(--line-height) * 2);
            }
        }
    }

    // Fonts
    &[data-font-family='Retro'] {
        --font-family: var(--font-retro);

        // DEV: Can this be nade to look good?
        // How do make this work for every color?
        // text-shadow: 0px 0px calc(var(--font-size) / 2) currentColor;
        // text-shadow: 0px 0px var(--font-size) currentColor;
        // text-shadow: 0px 0px 1ch currentColor;
        // text-shadow: 0px 0px 1px currentColor;

        @include large-font();
    }

    &[data-font-family='Block'] {
        --font-family: var(--font-block);

        p {
            text-shadow: 1.5px 1.5px 0px var(--text-shadow-color);
        }
    }

    &[data-font-family='Sans Serif'] {
        --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
            Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
            'Segoe UI Symbol';

        &[data-font-size='16px'] {
            --font-size: 16px;
            --line-height: 24px;
        }

        &[data-font-size='20px'] {
            --font-size: 20px;
            --line-height: 28px;
        }
    }

    &[data-font-family='Serif'] {
        --font-family: var(--font-serif);

        &[data-font-size='12px'] {
            --font-size: 12px;
        }

        &[data-font-size='16px'] {
            --font-size: 16px;
            --line-height: 24px;
        }

        &[data-font-size='20px'] {
            --font-size: 20px;
            --line-height: 28px;
        }
    }
}

* {
    box-sizing: border-box;
    font-size: var(--font-size);
    line-height: var(--line-height);
}

html {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--color);
    -webkit-text-size-adjust: 100%;

    &[data-prefers-color-scheme='Dark'] {
        body {
            &.modal-open {
                [data-backdrop] {
                    --filter: blur(4px) brightness(1.5);
                }
            }
        }
    }

    @media (prefers-color-scheme: dark), (prefers-color-scheme: no-preference) {
        body {
            &.modal-open {
                [data-backdrop] {
                    --filter: blur(4px) brightness(1.5);
                }
            }
        }
    }
}

body {
    background-color: var(--background-color);
    margin: 0;
    padding: 0;

    &.can-transition {
        transition: color var(--prefers-color-scheme-transition-speed) ease 0s,
            background-color var(--prefers-color-scheme-transition-speed) ease
                0s,
            filter var(--prefers-color-scheme-transition-speed) ease 0s;
    }

    &.modal-open {
        overflow: hidden;
    }
}

a {
    position: relative;
    color: var(--primary);
    -webkit-tap-highlight-color: var(--primary-20);

    &.anchor {
        display: block;

        &:hover {
            * {
                color: var(--primary);
            }
        }

        * {
            transition: color 150ms ease-in-out;
        }
    }

    &,
    &:hover {
        text-decoration: none;

        .anchor-link {
            opacity: 1;
        }
    }

    .anchor-link {
        position: absolute;
        bottom: 0px;
        left: -2ch;
        color: var(--primary);
        opacity: 0;
        transition: opacity 150ms ease-in-out;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
    color: var(--primary);

    // TODO: Look at max-width to mimic text-wrap: balance;
}

h2,
h3,
h4,
h5,
h6 {
    margin-top: calc(var(--line-height) * 2);
    margin-bottom: var(--line-height);
}

p {
    margin-top: 0px;
    margin-bottom: var(--line-height);
    line-height: calc(var(--line-height) * var(--p-line-height-modifier));
    text-align: justify;
}

article {
    --theme-color: var(--primary);

    .date {
        display: inline-block;
        margin-bottom: 0px;
    }

    p {
        &:first-of-type {
            margin-top: var(--line-height);
        }
    }

    ul,
    ol {
        padding-left: 2ch;
        margin: var(--line-height) 0px;

        li {
            &::marker {
                color: var(--theme-color);
            }
        }
    }

    ol {
        list-style-position: inside;
    }

    ul {
        list-style: inside square;
    }

    blockquote {
        // 🚫 Heading
        border-left: 2px solid var(--theme-color);

        // ✅ Link
        // background: var(--primary-15);
        // border-left: 10px solid var(--primary);

        margin: calc(var(--line-height) * 2) 1ch;
        padding-left: 2ch;

        p {
            color: var(--theme-color);
            margin-top: 0px !important;
        }
    }
}

button {
    font-family: var(--font-family);
}

// Inline code blocks
p {
    code {
        font-family: var(--font-monospace);
        padding: 0.5ch 1ch;
        background-color: var(--primary-20);
        color: var(--primary);
    }
}

// Code block

[data-rehype-pretty-code-fragment] {
    // DEV:
    --background: var(--background);

    --hightlighted-background: var(--primary-15);
    --title-background: var(--primary-20);
    --highlighted-border-color: var(--primary);

    position: relative;
    margin-bottom: calc(var(--line-height) * 1);

    [data-rehype-pretty-code-title] {
        // Tabbed
        // width: fit-content;
        // background: var(--background);

        background: var(--title-background);
        line-height: 30px;
        padding: 0px 2ch;

        @media (prefers-color-scheme: dark) {
            &[data-theme='light'] {
                display: none;
            }
        }

        @media (prefers-color-scheme: light),
            (prefers-color-scheme: no-preference) {
            &[data-theme='dark'] {
                display: none;
            }
        }
    }

    pre {
        font-weight: 400;
        margin: 0px;
        opacity: 0.98;
        background: var(--background);

        &,
        & * {
            line-height: 2;
        }

        & > code {
            display: grid;
            font-family: var(--font-monospace);
            padding: calc(var(--line-height) * 1.5) 0px;
            overflow-x: auto;

            // DEV:
            // border-left: solid 2px var(--primary);
            // border-left: solid 2px var(--primary-30);

            // Line numbers
            &[data-line-numbers] {
                counter-reset: line;

                > .line::before {
                    counter-increment: line;
                    content: counter(line);

                    // Other styling
                    display: inline-block;
                    width: 1rem;
                    margin-right: 2rem;
                    text-align: right;
                    color: gray;
                }

                // Line numbers
                .line &[data-line-numbers-max-digits='2'] > .line::before {
                    width: 2rem;
                }

                .line &[data-line-numbers-max-digits='3'] > .line::before {
                    width: 3rem;
                }
            }

            // Line
            > .line {
                padding: 0px 2ch;
                border-left: 2px solid transparent;

                // Highlight line
                &.highlighted {
                    background: var(--hightlighted-background);
                    border-left-color: var(--highlighted-border-color);
                }

                &::selection,
                & *::selection {
                    color: inherit;
                    background: var(--primary-30);
                }
            }

            // Highlight word
            .word {
                --background-color: var(--word-background-color);

                border-top: solid 3px var(--background-color);
                border-bottom: solid 3px var(--background-color);
                background-color: var(--background-color);

                &[data-word-id='r'] {
                    --background-color: var(--r-word-background-color);
                }

                &[data-word-id='g'] {
                    --background-color: var(--g-word-background-color);
                }

                &[data-word-id='b'] {
                    --background-color: var(--b-word-background-color);
                }
            }
        }
    }
}

// Conditionally show or hide light and dark theme code blocks
div[data-code-block] {
    &:has([data-theme='light']) {
        @media (prefers-color-scheme: dark) {
            display: none;
        }
    }
}

div[data-code-block] {
    &:has([data-theme='dark']) {
        @media (prefers-color-scheme: light),
            (prefers-color-scheme: no-preference) {
            display: none;
        }
    }
}

// Classes
.muted {
    color: var(--muted);
}

.color {
    color: var(--color);
}

// New Post
.prism-wrapper {
    height: 100%;
    position: relative;

    code,
    textarea {
        white-space: pre-wrap;
    }

    code[class*='language-'],
    pre[class*='language-'] {
        font-family: var(--font-monospace);
        font-size: var(--font-size);
        text-align: left;
        word-spacing: normal;
        word-break: normal;
        word-wrap: normal;
        line-height: 1.5;
        tab-size: 4;
        hyphens: none;
    }

    pre[class*='language-'] {
        overflow: auto;
    }

    code[class*='language-'] {
        color: white;
    }

    :not(pre) {
        & > code[class*='language-'] {
            box-shadow: none;
            white-space: normal;
        }
    }

    // Tokens
    .token {
        // # 0 - Simplified

        &.code {
            color: var(--accent);

            .token {
                &.punctuation {
                    color: var(--color);
                }
            }
        }

        &.cdata,
        &.comment,
        &.doctype,
        &.prolog {
            color: var(--muted);
        }

        &.punctuation {
            color: var(--primary);
        }

        &.function + &.punctuation {
            color: var(--primary);
        }

        &.namespace {
            opacity: 0.7;
        }

        &.boolean,
        &.constant,
        &.deleted,
        &.number,
        &.property,
        &.symbol,
        &.tag {
            color: var(--primary);
        }

        &.attr-name,
        &.builtin,
        &.char,
        &.inserted,
        &.selector,
        &.string {
            color: var(--tertiary);
        }

        &.entity,
        &.operator {
            color: var(--color);
        }

        &.url {
            color: var(--accent);

            .token {
                &.content {
                    color: var(--color);
                }

                &.url {
                    color: var(--primary);
                }
            }
        }

        &.atrule,
        &.attr-value,
        &.keyword {
            color: var(--primary);
        }

        &.keyword {
            &.return {
                color: var(--accent);
            }
        }

        &.class-name,
        &.function {
            color: var(--secondary);
        }

        &.important,
        &.regex,
        &.variable {
            color: var(--primary);
        }

        &.bold,
        &.important {
            font-weight: 700;
        }

        &.italic {
            font-style: italic;
        }

        &.entity {
            cursor: help;
        }
    }
}

// Diff (editing)
.prism-wrapper
    pre.diff-highlight.diff-highlight
    > code
    .token.deleted:not(.prefix),
.prism-wrapper
    pre
    > code.diff-highlight.diff-highlight
    .token.deleted:not(.prefix) {
    background-color: rgba(255, 0, 0, 0.3);
    display: inline;
}

.prism-wrapper
    pre.diff-highlight.diff-highlight
    > code
    .token.inserted:not(.prefix),
.prism-wrapper
    pre
    > code.diff-highlight.diff-highlight
    .token.inserted:not(.prefix) {
    background-color: rgba(0, 255, 128, 0.3);
    display: inline;
}
