$color: #242424;
$background-color: #ffffff;
$tertiary: #242424;
$tertiary-05: #24242405;
$tertiary-10: #24242410;
$tertiary-15: #24242415;
$tertiary-20: #24242420;
$tertiary-30: #24242430;
$tertiary-50: #24242450;
$secondary: #242424;
$secondary-05: #24242405;
$secondary-10: #24242410;
$secondary-15: #24242415;
$secondary-20: #24242420;
$secondary-30: #24242430;
$secondary-50: #24242450;
$muted: #242424;
$primary: #242424;
$primary-05: #24242405;
$primary-10: #24242410;
$primary-15: #24242415;
$primary-20: #24242420;
$primary-30: #24242430;
$primary-50: #24242450;
$primary-variant: #242424;
$accent: #242424;
$accent-05: #24242405;
$accent-10: #24242410;
$accent-15: #24242415;
$accent-20: #24242420;
$accent-30: #24242430;
$accent-50: #24242450;
$copy-background-color: #242424;
$copy-label-color: #242424;
$word-background-color: #242424;
$r-word-background-color: #242424;
$g-word-background-color: #242424;
$b-word-background-color: #242424;
