$color: #242424;
$background-color: #ffffff;
$skill: #3e77bb;
$skill-05: #3e77bb05;
$skill-10: #3e77bb10;
$skill-15: #3e77bb15;
$skill-20: #3e77bb20;
$skill-50: #3e77bb50;
$heading: #494bdf;
$heading-05: #494bdf05;
$heading-10: #494bdf10;
$heading-15: #494bdf15;
$heading-20: #494bdf20;
$heading-30: #494bdf30;
$heading-50: #494bdf50;
$muted: #757575;
$comment: #00883b;
$date: #a56363;
$link: #216d92;
$link-05: #216d9205;
$link-10: #216d9210;
$link-15: #216d9215;
$link-20: #216d9220;
$link-30: #216d9230;
$link-50: #216d9250;
$link-darker: #216d9250;
$name: #ad3da4;
$name-05: #ad3da405;
$name-10: #ad3da410;
$name-15: #ad3da415;
$name-20: #ad3da420;
$name-50: #ad3da450;
$text: #d24230;
$company: #7412bb;
$copy-background-color: #ffffff;
$copy-label-color: $link;
$word-background-color: #ffdcc2;
$r-word-background-color: #ffc2d3;
$g-word-background-color: #c2ffce;
$b-word-background-color: #c2efff;
