$color: #242424;
$background-color: #ffffff;
$tertiary: #3e77bb;
$tertiary-05: #3e77bb05;
$tertiary-10: #3e77bb10;
$tertiary-15: #3e77bb15;
$tertiary-20: #3e77bb20;
$tertiary-50: #3e77bb50;
$secondary: #494bdf;
$secondary-05: #494bdf05;
$secondary-10: #494bdf10;
$secondary-15: #494bdf15;
$secondary-20: #494bdf20;
$secondary-30: #494bdf30;
$secondary-50: #494bdf50;
$muted: #757575;
$primary: #e60012;
$primary-05: #e6001205;
$primary-10: #e6001210;
$primary-15: #e6001215;
$primary-20: #e6001220;
$primary-30: #e6001230;
$primary-50: #e6001250;
$primary-variant: #ef606b;
$accent: #008196;
$accent-05: #00819605;
$accent-10: #00819610;
$accent-15: #00819615;
$accent-20: #00819620;
$accent-50: #00819650;
$copy-background-color: #ffffff;
$copy-label-color: $primary;
$word-background-color: #ffdcc2;
$r-word-background-color: #ffc2d3;
$g-word-background-color: #c2ffce;
$b-word-background-color: #c2efff;
