$color: #242424;
$background-color: #ffffff;
$tertiary: #3e77bb;
$tertiary-05: #3e77bb05;
$tertiary-10: #3e77bb10;
$tertiary-15: #3e77bb15;
$tertiary-20: #3e77bb20;
$tertiary-50: #3e77bb50;
$secondary: #494bdf;
$secondary-05: #494bdf05;
$secondary-10: #494bdf10;
$secondary-15: #494bdf15;
$secondary-20: #494bdf20;
$secondary-30: #494bdf30;
$secondary-50: #494bdf50;
$muted: #757575;
$title-color: #00883b;
$date: #a56363;
$primary: #216d92;
$primary-05: #216d9205;
$primary-10: #216d9210;
$primary-15: #216d9215;
$primary-20: #216d9220;
$primary-30: #216d9230;
$primary-50: #216d9250;
// $primary-darker: #74A4BB;
$primary-darker: #90B6C9;
$accent: #ad3da4;
$accent-05: #ad3da405;
$accent-10: #ad3da410;
$accent-15: #ad3da415;
$accent-20: #ad3da420;
$accent-50: #ad3da450;
$text: #d24230;
$company: #7412bb;
$copy-background-color: #ffffff;
$copy-label-color: $primary;
$word-background-color: #ffdcc2;
$r-word-background-color: #ffc2d3;
$g-word-background-color: #c2ffce;
$b-word-background-color: #c2efff;
