$color: #242424;
$background-color: #ffffff;

// $skill: #9cdcfe;
// $skill-05: #9cdcfe05;
// $skill-10: #9cdcfe10;
// $skill-15: #9cdcfe15;
// $skill-20: #9cdcfe20;
// $skill-50: #9cdcfe20;
// $heading: #569cd6;
// $title: #696969;
// $muted: #808080;
// $comment: #6a9955;
// $date: #b5cea8;
// $link: #4ec9b0;
// $link-05: #4ec9b005;
// $link-10: #4ec9b010;
// $link-15: #4ec9b015;
// $link-20: #4ec9b020;
// $link-30: #4ec9b030;
// $link-50: #4ec9b050;
// $link-darker: #3b9784;
// $name: #c586c0;
// $name-05: #c586c005;
// $name-10: #c586c010;
// $name-15: #c586c015;
// $name-20: #c586c020;
// $name-50: #c586c050;
// $text: #ce9178;
// $company: #dcdcaa;

$skill: #3e77bb;
$skill-05: #3e77bb05;
$skill-10: #3e77bb10;
$skill-15: #3e77bb15;
$skill-20: #3e77bb20;
$skill-50: #3e77bb50;
$heading: #494bdf;
$muted: #757575;
$comment: #00883b;
$date: #a56363;
$link: #216d92;
$link-05: #216d9205;
$link-10: #216d9210;
$link-15: #216d9215;
$link-20: #216d9220;
$link-30: #216d9230;
// $link-20: #24242415;
// $link-30: #24242430;
$link-50: #216d9250;
$link-darker: #216d9250;
$name: #ad3da4;
$name-05: #ad3da405;
$name-10: #ad3da410;
$name-15: #ad3da415;
$name-20: #ad3da420;
$name-50: #ad3da450;
$text: #d24230;
$company: #7412bb;
$copy-background-color: $color;
$copy-label-color: $color;
