$default: 'Green';
$defaultMode: 'Dark';
$defaultDarkBackgroundColor: #221d29;
$defaultLightBackgroundColor: #ffffff;
$themes: (
    'Dark': (
        'Green': (
            'primary': #4ec9b0,
            'accent': #4e86c9,
            'token-function': #7ad7c4,
            'token-constant': #bdebe1,
            'token-string-expression': #e9f8f5,
            'token-comment': #8f8f8f,
        ),
        'Blue': (
            'primary': #00c3e3,
            'secondary': #569cd6,
            'tertiary': #9cdcfe,
            'accent': #ff4554,
        ),
        'Red': (
            'primary': #ff4554,
            'secondary': #569cd6,
            'tertiary': #9cdcfe,
            'accent': #00c3e3,
        ),
        'Code': (
            'primary': #4ec9b0,
            'secondary': #569cd6,
            'tertiary': #dcdcaa,
            'accent': #c586c0,
            'muted': #6a9955,
            'background-color': #1f1f1f,
            'color': #ce9178,
        ),
        'Terminal': (
            'primary': #33ff33,
            'secondary': #33ff33,
            'tertiary': #33ff33,
            'accent': #33ff33,
            'background-color': #282828,
        ),
        'Amber': (
            'primary': #ffb000,
            'secondary': #ffb000,
            'tertiary': #ffb000,
            'accent': #ffb000,
            'background-color': #282828,
        ),
        'C-64': (
            'primary': #c7beff,
            'secondary': #c7beff,
            'tertiary': #c7beff,
            'accent': #c7beff,
            'background-color': #50459b,
            'color': #ffffff,
            'muted': #c4c4c4,
        ),
        '8-Bit': (
            'primary': #ff004d,
            'accent': #2aacff,
            'secondary': #ff77a8,
            'tertiary': #fff2e8,
            'background-color': #000000,
            'color': #fff2e8,
            'muted': #83769c,
        ),
        'Retro': (
            'primary': #c7beff,
            'secondary': #a9be03,
            'tertiary': #ffdbf9,
            'accent': #ff5ebf,
            'background-color': #292d52,
        ),
        'Cyber': (
            'primary': #28fc91,
            'secondary': #28fc91,
            'tertiary': #40ffff,
            'accent': #40ffff,
        ),
        'High Contrast': (
            'primary': #ffffff,
            'secondary': #ffffff,
            'tertiary': #ffffff,
            'accent': #ffffff,
            'background-color': #000000,
        ),
        'Monochrome': (
            'primary': #d4d4d4,
            'secondary': #d4d4d4,
            'tertiary': #d4d4d4,
            'accent': #d4d4d4,
        ),
    ),
    'Light': (
        'Green': (
            'primary': #216d92,
            'secondary': #494bdf,
            'tertiary': #3e77bb,
            'accent': #ad3da4,
        ),
        'Blue': (
            'primary': #6651fa,
            'secondary': #494bdf,
            'tertiary': #3e77bb,
            'accent': #e60012,
        ),
        'Red': (
            'primary': #e60012,
            'secondary': #494bdf,
            'tertiary': #3e77bb,
            'accent': #6651fa,
        ),
        'Code': (
            'primary': #267f99,
            'secondary': #0070c1,
            'tertiary': #795e26,
            'accent': #af00db,
            'muted': #008000,
            'color': #a31515,
        ),
        'Terminal': (
            'primary': #008b00,
            'secondary': #008b00,
            'tertiary': #008b00,
            'accent': #008b00,
        ),
        'Amber': (
            'primary': #ff8503,
            'secondary': #ff8503,
            'tertiary': #ff8503,
            'accent': #ff8503,
        ),

        'C-64': (
            'primary': #50459b,
            'secondary': #50459b,
            'tertiary': #50459b,
            'accent': #50459b,
            'background-color': #c7beff,
        ),
        '8-Bit': (
            'primary': #ff004d,
            'secondary': #2aacff,
            'tertiary': #ff77a8,
            'accent': #01e435,
            'background-color': #1d2b53,
            'color': #fff2e8,
            'muted': #83769c,
        ),
        'Retro': (
            'primary': #7b2659,
            'secondary': #606b79,
            'tertiary': #616d02,
            'accent': #383e6f,
            'background-color': #cdd4e0,
        ),
        'Cyber': (
            // TODO: Need darker colors
            'primary': #28fc91,
            'secondary': #28fc91,
            'tertiary': #40ffff,
            'accent': #40ffff,
        ),
        'High Contrast': (
            'primary': #000000,
            'secondary': #000000,
            'tertiary': #000000,
            'accent': #000000,
            'background-color': #ffffff,
        ),
        'Monochrome': (
            'primary': #242424,
            'secondary': #242424,
            'tertiary': #242424,
            'accent': #242424,
        ),
    ),
);
