$default: 'Green';
$defaultMode: 'Dark';
// $defaultDarkBackgroundColor: #221d29;
$defaultDarkBackgroundColor: black;
$defaultLightBackgroundColor: #ffffff;
$themes: (
    'Dark': (
        'Green': (
            // 'primary': #4ec9b0,
            'primary': white,
            'token-function': #7ad7c4,
            'token-constant': #bdebe1,
            'token-string-expression': #e9f8f5,
            'token-comment': #9f9f9f,
        ),
    ),
    'Light': (
        'Green': (
            'primary': #216d92,
            'secondary': #494bdf,
            'tertiary': #3e77bb,
            'accent': #ad3da4,
        ),
    ),
);
