$font-size: 12px;
$line-height: 18px;
$p-line-height-modifier: 1.25;
$page-padding: calc($line-height * 7) 0.5in calc($line-height * 2);
$page-gap: calc($line-height * 5);
$medium-width: 1024px;
$large-width: 1025px;
$max-width: 680px;
