.about {
    // text-align: justify;
    color: var(--light);

    strong {
        font-weight: 400;
        color: white;
    }

    p {
        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }
}
