.about {
    font-size: 14px;
    text-align: justify;
    color: var(--light);

    span {
        font-size: 14px;
        text-align: justify;
        color: var(--color);
        font-weight: 500;
    }
}
