.resume {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: calc(var(--line-height) * 3);
    max-width: 81ch;
    margin: 0 auto;
    padding: calc(var(--line-height) * 4) 3ch;

    h1,
    h2 {
        font-weight: normal;
        margin-top: 0;
        margin-bottom: var(--line-height);
        color: var(--primary);
    }

    p {
        margin-top: 0;
        color: var(--color);

        &:not(:last-child) {
            margin-bottom: var(--line-height);
        }
    }

    s {
        color: var(--muted);
    }

    .header {
        display: flex;
        align-items: center;
        gap: 4ch;

        @media (max-width: 500px) {
            gap: 2ch;
        }

        h1 {
            margin-bottom: 0;
        }

        .avatar {
            --img-size: calc(400px / 2.5);

            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var((--container-color));
            border-radius: 50%;
            width: var(--img-size);
            height: var(--img-size);

            @media (max-width: 500px) {
                --img-size: calc(400px / 3.5);
            }

            img {
                width: var(--img-size);
                height: var(--img-size);
                border-radius: 50%;
            }
        }

        .text {
            display: flex;
            flex-direction: column;
            gap: var(--line-height);

            .name {
                color: var(--primary);
            }

            .role {
                color: var(--muted);
            }

            .pronouns {
                color: var(--muted);
            }

            .site {
                padding: calc(var(--line-height) / 2) 1ch;
                background-color: var(--container-color);
                border-radius: 8px;
                width: fit-content;
            }
        }
    }

    .about {
        p {
            span {
                white-space: nowrap;
                word-break: normal;
            }
        }
    }

    .experience {
        .list {
            display: flex;
            flex-direction: column;
            gap: calc(var(--line-height) * 2);

            .job {
                display: flex;
                gap: 4ch;
                word-break: break-word;

                .dates {
                    color: var(--muted);
                    min-width: 11ch;
                    max-width: 11ch;
                }

                .role {
                    .name {
                        color: var(--primary);
                    }

                    .location {
                        color: var(--color);
                    }
                }
            }
        }
    }

    .projects {
        .list {
            display: flex;
            flex-direction: column;
            gap: calc(var(--line-height) * 2);

            .project {
                display: flex;
                gap: 4ch;

                .dates {
                    color: var(--muted);
                    min-width: 11ch;
                    max-width: 11ch;
                }

                .info {
                    display: flex;
                    flex-direction: column;
                    gap: var(--line-height);

                    .name {
                        color: var(--primary);
                        width: fit-content;
                    }

                    .description {
                        color: var(--color);

                        a {
                            padding: 0.5ch;
                            text-decoration: underline;
                        }
                    }

                    .img {
                        height: 90px;

                        img {
                            border-radius: 8px;
                        }
                    }
                }
            }
        }
    }

    .contacts {
        .list {
            display: flex;
            flex-direction: column;
            gap: var(--line-height);

            .item {
                display: flex;
                gap: 4ch;

                .name {
                    color: var(--muted);
                    min-width: 11ch;
                    max-width: 11ch;
                }

                .text {
                    gap: var(--line-height);
                    color: var(--primary);
                }
            }
        }
    }

    .icon {
        white-space: nowrap;

        svg {
            margin-left: 0.5ch;
            fill: var(--primary);
        }
    }

    .toolbar {
        position: fixed;
        top: 2ch;
        left: 50%;
        display: flex;
        justify-content: flex-end;
        width: calc(100% - 4ch);
        max-width: calc(81ch + 44px + 2ch);
        transform: translateX(-50%);

        .download {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 44px;
            width: 44px;
            background-color: var(--container-color);
            border-radius: 50%;

            svg {
                width: 18px;
                height: 18px;
                fill: var(--primary);
            }
        }
    }
}
