.page {
    display: flex;
    gap: 0.5in;
    font-family: var(--font-sans);
    font-size: 14px;
    line-height: 1.75;
    line-height: 24px;

    @media screen and (max-width: 815px) {
        flex-direction: column;
    }

    .left {
        flex: 1;
    }

    .right {
        flex: 2;
    }
}
