.education {
    .school {
        .name {
            color: var(--fg0);

            span {
                color: var(--fg3);
            }
        }

        .major {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: var(--fg2);

            .years {
                color: var(--fg3);
            }
        }
    }
}
