.education {
    .schools-ctr {
        display: flex;
        flex-direction: column;
        gap: var(--line-height);

        .school {
            .name {
                color: var(--color);
                position: relative;
            }
        }
    }
}
