.education {
    .schools {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .school {
            .name {
                font-weight: 600;
            }

            .dates {
                font-weight: 300;
            }
        }
    }
}
