.page {
    @media screen {
        padding: 20px;
    }

    @media print and (min-width: 8.5in) {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        height: 11in;
        width: 8.5in;
        padding: 1in;
    }

    main {
        display: flex;
        flex-direction: column;

    }
}
