.page {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;

    @media screen {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @media (min-width: 8.5in) {
        height: 11in;
        width: 8.5in;
        padding: 1in;
    }

    main {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }
}
