:root {
    // --accent: #ff3030;
    --accent: #000000;
}

a {
    text-decoration: none;
    color: inherit;
}

.resume {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 8.5in;
    height: 11in;
    padding: .5in;
    margin: 0 auto;
    background-color: #0000ff10;

    header {
        display: flex;
        justify-content: space-between;
    }

    .content {
        display: flex;
        gap: .5in;

        .column {
            display: flex;
            flex-direction: column;
            gap: 3rem;

            &.right {
                width: 40%;
            }
        }
    }
}
