@use 'styles/utilities';

.menu-ctr {
    // --menu-pos: top left;
    --menu-pos: top right;

    position: relative;
    z-index: 10;

    .btn {
        cursor: pointer;
        color: var(--primary);
        background-color: transparent;
        border: none;
        padding: 0px;
    }

    .menu {
        position: absolute;
        top: 100%;
        right: 0px;
        display: flex;
        flex-direction: column;
        padding: 1ch;
        max-width: fit-content;
        border-radius: 6px;
        animation: open 150ms ease-in-out forwards;
        background-color: var(--background-color);
        border: solid 1px var(--primary-50);

        &.close {
            animation: close 150ms ease-in-out forwards;
        }

        @keyframes open {
            from {
                transform: scale(0);
                transform-origin: var(--menu-pos);
                opacity: 0;
            }
            to {
                transform: scale(1);
                transform-origin: var(--menu-pos);
                opacity: 1;
            }
        }

        @keyframes close {
            from {
                transform: scale(1);
                transform-origin: var(--menu-pos);
                opacity: 1;
            }
            to {
                transform: scale(0);
                transform-origin: var(--menu-pos);
                opacity: 0;
            }
        }

        .btn {
            cursor: pointer;
            color: var(--primary);
            background-color: var(--background-color);
            border: none;
            padding: 0.5ch 2ch;
            text-align: left;
            border-radius: 6px;

            &:hover {
                background-color: var(--primary-20);
            }

            &:active {
                background-color: var(--background-color);
            }
        }

        .divider {
            height: 1px;
            width: calc(100% - 2ch);
            background-color: var(--primary-50);
            margin: 1ch 1ch;
        }
    }
}
